
    <%
        if(fullscreen === false) {
    %>

    <!-- Channel Plugin Scripts -->
    <script>
      window.channelPluginSettings = {
        "pluginKey": "50362d2e-ba2b-447d-9780-eca5da560176"
      };
      (function() {
        var node = document.createElement('div');
        node.id = 'ch-plugin';
        document.body.appendChild(node);
        var async_load = function() {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
          s.charset = 'UTF-8';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        };
        if (window.attachEvent) {
          window.attachEvent('onload', async_load);
        } else {
          window.addEventListener('DOMContentLoaded', async_load, false);
        }
      })();
    </script>
    <!-- End Channel Plugin -->
    <% include ../pages/modal/terms-modal.ejs %>
    <% include ../pages/modal/request-modal.ejs %>
    </div>
    <footer id="footer">
        <hr class="footer-stripe" />
        <div class="footer-wrapper clearing">
            <div class="logo-info">
                <span class="logo-description">당신의 삶에 인테리어를 그리다</span>
                <img src="https://static.gridazip.co.kr/assets/images_renewal/logo_g.png" alt="그리다집 로고" />
            </div>

            <div class="contact-info">
                <p class="footer-title">Contact info: </p>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-location-arrow"></i>
                    </div>
                    <div>
                        <span>본점 - 서울특별시 강서구<br />양천로 551-17 한화비즈메트로 1차 1010호</span>
                    </div>
                </div>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-location-arrow"></i>
                    </div>
                    <div>
                        <span>대전 지점 - 대전광역시 서구<br />문정로2번길 33 리베라스위트빌 1219호</span>
                    </div>
                </div>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-location-arrow"></i>
                    </div>
                    <div>
                        <span>부산 지점 - 부산광역시 부산진구<br />초읍천로 16, 2층</span>
                    </div>
                </div>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-location-arrow"></i>
                    </div>
                    <div>
                        <span>창원 지점 - 경상남도 창원시 성산구<br />가음로 99</span>
                    </div>
                </div>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div>
                        <span>info@gridazip.co.kr</span>
                    </div>
                </div>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div>
                        <span><a href="tel:050713122412">0507-1312-2412</a></span>
                    </div>
                </div>
            </div>

            <div class="social-info">
                <p class="footer-title">We're social: </p>
                <ul class="social-list clearing">
                    <li class="social-icon facebook-icon"><a href="https://www.facebook.com/gridazip" target="_blank" ></a></li>
                    <li class="social-icon instagram-icon"><a href="https://www.instagram.com/gridazip" target="_blank" ></a></li>
                    <li class="social-icon kakao-icon"><a href="https://plus.kakao.com/home/@%EA%B7%B8%EB%A6%AC%EB%8B%A4%EC%A7%91" target="_blank" ></a></li>
                    <li class="social-icon kakaostory-icon"><a href="https://story.kakao.com/ch/gridazib" target="_blank" ></a></li>
                    <li class="social-icon naver-icon"><a href="http://blog.naver.com/gridazip" target="_blank" ></a></li>
                </ul>
            </div>
        </div>

        <div class="footer-provision">
            <span data-modal="modal-term#tab1">
                <a href="#">이용약관</a>
            </span>
            <span data-modal="modal-term#tab2">
                <a href="#">개인정보처리방침</a>
            </span>
            <span><a href="/support">고객문의</a></span>
        </div>
        <!--<div class="footer-compay-info">-->
            <!--<span>대표: 황경찬<br/>사업자등록번호: 863-87-00815<br />개인정보관리책임자: 황경찬<br/></span>-->
            <!--<span>2018,(주) 그리다집 All right Reserved</span>-->
        <!--</div>-->
        <div class="footer-compay-info">
            <span>대표: 정재기<br/>사업자등록번호: 618-87-00189<br />개인정보관리책임자: 오현우<br/></span>
            <span>2018,(주) 일렉스홀딩스 All right Reserved</span>
        </div>
    </footer>
    <%
        }
    %>
    <% include ./snippets/foot-snippet.ejs %>
</body>
</html>