
    <%
        if(fullscreen === false) {
    %>

    <!-- Channel Plugin Scripts -->
    <script>
      window.channelPluginSettings = {
        "pluginKey": "50362d2e-ba2b-447d-9780-eca5da560176"
      };
      (function() {
        var node = document.createElement('div');
        node.id = 'ch-plugin';
        document.body.appendChild(node);
        var async_load = function() {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
          s.charset = 'UTF-8';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        };
        if (window.attachEvent) {
          window.attachEvent('onload', async_load);
        } else {
          window.addEventListener('DOMContentLoaded', async_load, false);
        }
      })();
    </script>
    <!-- End Channel Plugin -->


    <footer id="footer">
        <hr class="footer-stripe" />
        <div class="footer-wrapper clearing">
            <div class="logo-info">
                <span class="logo-description">당신의 삶에 인테리어를 그리다</span>
                <img src="/images/logo_g.png" alt="그리다집 로고" />
            </div>

            <div class="contact-info">
                <p class="footer-title">Contact info: </p>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-location-arrow"></i>
                    </div>
                    <div>
                        <span>서울특별시 강서구 양천로 551-17,<br /> 한화비즈메트로 1차 1010호</span>
                    </div>
                </div>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div>
                        <span>info@gridazip.com</span>
                    </div>
                </div>
                <div class="contact-item">
                    <div>
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div>
                        <span>0507-1312-2412</span>
                    </div>
                </div>
            </div>

            <div class="social-info">
                <p class="footer-title">We're social: </p>
                <ul class="social-list clearing">
                    <li class="social-icon facebook-icon"></li>
                    <li class="social-icon instagram-icon"></li>
                    <li class="social-icon kakao-icon"></li>
                    <li class="social-icon kakaostory-icon"></li>
                    <li class="social-icon naver-icon"></li>
                </ul>
            </div>
        </div>

        <div class="footer-provision">
            <span>이용약관</span>
            <span>개인정보처리방침</span>
            <span>고객문의</span>
        </div>
        <div class="footer-compay-info">
            <span>2018,(주) 그리다집 All right Reserved</span>
        </div>
    </footer>
    <%
        }
    %>
    <% include ./snippets/foot-snippet.ejs %>
</body>
</html>