<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./meta.ejs %>
    <link rel="shortcut icon" type="image/x-icon" href="https://static.gridazip.com/assets/images/favicon.ico">
    <%
        if (env === 'production') {
    %>
    <link rel="stylesheet" href="/styles/dist/bundle.min.css">
    <%
        }
        else {
    %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="/tingle.js/dist/tingle.min.css">
    <link rel="stylesheet" href="/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/pg-calendar/dist/css/pignose.calendar.min.css">
    <link rel="stylesheet" href="/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/styles/pickadate/default.css">
    <link rel="stylesheet" href="/styles/pickadate/default.date.css">
    <link rel="stylesheet" href="/styles/pickadate/default.time.css">
    <%
        }
    %>
    <script>
        window.user = <%-(user ? JSON.stringify(user) : 'null') %>;
    </script>
    <script>
        var FacebookApiKey = '<%=auth.facebook.key%>';
        var NaverApiKey = '<%=auth.naver.key%>';
    </script>
    <script src="/scripts/dist/vendors.min.js"></script>
    <!--[if lte IE 9]>
    <script src="/classlist-polyfill/src/index.js"></script>
    <![endif]-->
    <%
        if (env === 'production') {
    %>
    <script src="/scripts/dist/bundles.min.js"></script>
    <%
        }
        else {
    %>
    <script src="/scripts/polyfills/event-listener.js"></script>
    <script src="/scripts/lib/jquery.selectric.min.js"></script>
    <script src="/tingle.js/dist/tingle.js"></script>
    <script src="/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/scripts/services/http/main.js"></script>
    <script src="/scripts/services/render/main.js"></script>
    <script src="/scripts/services/pagination/main.js"></script>
    <script src="/scripts/services/filter/main.js"></script>
    <script src="/scripts/helpers/develop.js"></script>
    <script src="/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/pg-calendar/dist/js/pignose.calendar.min.js"></script>
    <script src="/scripts/lib/picker.js"></script>
    <script src="/scripts/lib/picker.date.js"></script>
    <script src="/scripts/lib/picker.time.js"></script>
    <script src="/scripts/helpers/binder.js"></script>
    <script src="/scripts/helpers/main.js"></script>
    <script src="/scripts/helpers/polyfills.js"></script>
    <%
        }
    %>
    <!--[if lte IE 8]>
    <script async src="/scripts/lib/respond.js"></script>
    <!-[endif]-->
</head>
<body>
    <% include ./snippets/head-snippet.ejs %>
    <div id="container">
    <%
        if (fullscreen === false) {
    %>
        <div id="header">
            <div>
                <div class="header-inner">
                    <div class="logo">
                        <a href="/" itemscope itemtype="http://schema.org/Organization">
                            <img itemprop="logo" src="/images/logo_w.png" alt="그리다집 로고" />
                        </a>
                    </div>
                    <div class="menu-wrapper">
                        <div class="menu-list">
                            <div class="menu-item">
                                <a href="#" class="button">홈</a>
                            </div>
                            <div class="menu-item">
                                <a href="#" class="button">포트폴리오</a>
                            </div>
                            <div class="menu-item">
                                <a href="#" class="button">왜 그리다집인가</a>
                            </div>
                            <div class="menu-item">
                                <a href="#" class="button">시공인/디자이너</a>
                            </div>
                            <div class="menu-item">
                                <a href="#" class="button">협력업체</a>
                            </div>
                            <div class="menu-item">
                                <a href="#" class="button request-button">무료방문상담 신청하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%
        }
    %>
    </div>
