<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OAuth</title>
</head>
<body>
  <script>
    var data = <%-data%>;
    
    var sendData = function() {
      if (typeof opener.oauthCallback === 'function') {
        opener.oauthCallback(data);
        this.close();
        return;
      }

      setTimeout(function() {
        sendData();
      }, 500);
    };
    sendData();
  </script>
</body>
</html>