<div class="content">
    <div class="logo">
        <a href="http://<%=domain.production%>" target="_blank">
            <img src="http://<%=domain.production%>/images/logo-main-black.svg">
        </a>
    </div>
    <h1><%=title%></h1>
    <div class="body">
        <%-body%>
    </div>
</div>