<% include ../../../partials/head.ejs %>

<script src="/scripts/pages/user/find.js"></script>

<input type="hidden" id="page_type" name="page_type" value="id">

<div class="management">
  <form class="form form-find">
    <h2>
      <p>아이디 찾기</p>
      <div class="form-description">
        <span class="required">*</span>
        <span>항목은 필수 입력 항목입니다.</span>
      </div>
    </h2>
    <div class="form-inner">
      <div class="form-item">
        <div class="title">
          <span class="required">*</span>
          <span>이름</span>
        </div>
        <input type="text" name="user_name" id="user_name">
      </div>
      <div class="form-item">
        <div class="title">
          <span class="required">*</span>
          <span>휴대폰 번호</span>
        </div>
        <input type="text" name="user_phone" id="user_phone" class="phone">
      </div>
    </div>
    <div class="button-wrapper">
      <div class="button-group">
        <button class="complete">아이디 찾기</button>
      </div>
    </div>
  </form>
  <div class="form-result">
    <div class="form-result-inner">
    </div>
    <a href="/user/find" class="button">뒤로가기</a>
  </div>
</div>

<% include ../../../partials/foot.ejs %>