<% include ../../partials/head.ejs %>

<script src="/scripts/pages/user/find.js"></script>

<div class="section bg-gray wrapped">
  <div class="find">
    <div class="find-item find-id" data-link="./find/id">
      <i class="pe-7s-id"></i>
      <h3>아이디 찾기</h3>
      <div class="find-description">
        성함과 휴대폰번호로<br />
        아이디를 찾아보세요.
      </div>
    </div>
    <div class="find-item find-pw" data-link="./find/pw">
      <i class="pe-7s-key"></i>
      <h3>비밀번호 찾기</h3>
      <div class="find-description">
        성함, 아이디 그리고 이메일 주소로<br />초기 비밀번호를 발급 받으세요.
      </div>
    </div>
  </div>
</div>

<% include ../../partials/foot.ejs %>