<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89485418-1', 'auto');
    ga('send', 'pageview');
</script>
<!-- Google Analytics -->

<!-- Naver -->
<script>
</script>
<!-- Naver -->

<!-- Facebook -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : FacebookApiKey,
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
        });
    };

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Facebook -->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '188748018468225');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=188748018468225&ev=PageView&noscript=1"
    /></noscript>
<!-- End Facebook Pixel Code -->

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "그리다집",
    "alternateName": "Gridazip",
    "url": "http://www.gridazip.com"
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Organization",
    "url": "http://www.gridazip.com/",
    "logo": "https://static.gridazip.com/assets/images/logo-main-black.png",
    "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+82-010-3437-0665",
        "contactType": "customer service"
    }]
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "그리다집",
    "url": "http://www.gridazip.com",
    "sameAs": [
        "https://www.facebook.com/gridazip",
        "https://www.instagram.com/gridazip/",
        "https://story.kakao.com/ch/gridazib",
        "http://blog.naver.com/gridazip"
    ]
}
</script>