<% include ../partials/head.ejs %>

<div class="contents about">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>그리다_집 이란</p>
            <p>그리다집에서 인테리어 비용 절약, 시간 절감, 품질 향상을 경험하세요.</p>
        </div>
    </div>
    <div class="about-wrapper">
        <span class="background-word">
            Service
        </span>
        <div class="timeline-view">
            <div class="timeline">
                <div class="timeline-header clearing">
                    <div class="left title">
                        <h2>그리다_집<br />인테리어<br />서비스 순서</h2>
                    </div>
                    <div class="right images">
                        <img src="/images/about-icon-1.png" />
                    </div>
                    <span class="start-timeline-ellipse">
                        <span></span>
                    </span>
                </div>
                <div class="container left">
                    <div class="content">
                        <img src="/images/about-icon-2.png" />
                        <h2>상담신청</h2>
                        <p>
                            무료상담을 신청한 고객님꼐 확인전화를 드리고<br />방문일정을 확정합니다.
                        </p>
                        <span class="counter">1</span>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <img src="/images/about-icon-3.png" />
                        <h2>방문상담</h2>
                        <p>
                            매니저가 약속한 시간에 방문하여,<br />인테리어 상담을 진행합니다.
                        </p>
                        <span class="counter">2</span>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <img src="/images/about-icon-4.png" />
                        <h2>인테리어 제안</h2>
                        <p>
                            상담 결과를 토대로, 가견적서와<br />인테리어 디자인 제안서를 무료로 제공합니다.
                        </p>
                        <span class="counter">3</span>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <img src="/images/about-icon-5.png" />
                        <h2>계약</h2>
                        <p>
                            계약을 결정한 고객은 계약금<br />(평수*5만원)을 입금하신 후,<br />디자이너와 매칭됩니다.
                        </p>
                        <span class="counter">4</span>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <img src="/images/about-icon-6.png" />
                        <h2>디자인확정</h2>
                        <p>
                            디자이너와 인테리어 방향을 확정하시면<br />상세 견적서와 일정표를 전달드립니다.
                        </p>
                        <span class="counter">5</span>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <img src="/images/about-icon-7.png" />
                        <h2>전문시공</h2>
                        <p>
                            시공팀장이 현장을 감독합니다. 오늘의<br />공사내용을 카카오톡으로 받아보실 수<br />있습니다.
                        </p>
                        <span class="counter">6</span>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <img src="/images/about-icon-8.png" />
                        <h2>공사완료</h2>
                        <p>
                            고객님과 공사현장 확인 후 공사를 완료합니다.
                        </p>
                        <span class="counter">7</span>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <img src="/images/about-icon-9.png" />
                        <h2>A/S</h2>
                        <p>
                            A/S: SGI 하자 보증서(1년)을 제공합니다.<br />하자 보수팀이 무상수리를 담당합니다.
                        </p>
                        <span class="counter">8</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sample-download-view">
            <div class="download-title">
                <h2>그리다_집의 샘플 제안/견적서</h2>
            </div>
            <div class="button-wrapper">
                <button class="default-btn">가견적서 샘플 다운로드</button>
                <button class="default-btn">디자인 제안서 다운로드</button>
            </div>
        </div>
        <div class="price-info-view">
            <div>
                <h2>그리다_집의 디자인 가격정책</h2>
            </div>
            <div class="price-items-wrapper">
                <div class="price-info-items">
                    <div class="price-image-wrapper">
                        <img src="/images/about-price-icon-1.png" />
                        <span>1</span>
                    </div>
                    <p>계약금</p>
                    <span>평수 X 5</span>
                </div>
                <div class="image-line"></div>
                <div class="price-info-items">
                    <div class="price-image-wrapper">
                        <img src="/images/about-price-icon-2.png" />
                        <span>2</span>
                    </div>
                    <p>착수금</p>
                    <span>자재비</span>
                </div>
                <div class="image-line"></div>
                <div class="price-info-items">
                    <div class="price-image-wrapper">
                        <img src="/images/about-price-icon-3.png" />
                        <span>3</span>
                    </div>
                    <p>중도금</p>
                    <span>인건비</span>
                </div>
                <div class="image-line"></div>
                <div class="price-info-items">
                    <div class="price-image-wrapper">
                        <img src="/images/about-price-icon-1.png" />
                        <span>4</span>
                    </div>
                    <p>완료금</p>
                    <span>설계/감리/서비스 비용</span>
                </div>
            </div>
            <button class="default-btn">
                예시보기
            </button>
        </div>

        <div class="portfolio-view">
            <h2>강남구 신사동 가나다 아파트 40PY</h2>
            <div class="portfolio">
                <div class="portfolio-images">
                    <div class="pos-r">
                        <div class="slider-wrapper">
                            <div class="image-items">
                                <img src="/images/portfolio-images-1.jpg" />
                            </div>
                            <div class="image-items">
                                <img src="/images/portfolio-images-2.jpg" />
                            </div>
                            <div class="image-items">
                                <img src="/images/portfolio-images-3.jpg" />
                            </div>
                        </div>
                        <div class="pos-a dot-container">
                            <div id='carousel-custom-dots' class='owl-dots'>
                                <span class='owl-dot'>1</span>
                                <span class='owl-dot'>2</span>
                                <span class='owl-dot'>3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-price-info">
                    <h5>총 비용: 3,500만원</h5>
                    <div class="price-info-items">
                        <div>
                            <div class="price-image-wrapper">
                                <img src="/images/about-price-icon-1.png" />
                            </div>
                            <span>계약금</span>
                        </div>
                        <span>164만원</span>
                    </div>
                    <div class="price-info-items">
                        <div>
                            <div class="price-image-wrapper">
                                <img src="/images/about-price-icon-2.png" />
                            </div>
                            <span>착수금</span>
                        </div>
                        <span>164만원</span>
                    </div>
                    <div class="price-info-items">
                        <div>
                            <div class="price-image-wrapper">
                                <img src="/images/about-price-icon-3.png" />
                            </div>
                            <span>중도금</span>
                        </div>
                        <span>164만원</span>
                    </div>
                    <div class="price-info-items">
                        <div>
                            <div class="price-image-wrapper">
                                <img src="/images/about-price-icon-4.png" />
                            </div>
                            <span>완료금</span>
                        </div>
                        <span>164만원</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="history-view">
            <span class="background-word">History</span>

            <div class="history-description">
                <h2 class="history-title">그리다_집이 걸어온 길</h2>
                <p class="history-list">
                    <span>10 짚풀 생활사 박물관 보수공사</span>
                    <span>08 필운동구문자답 리모델링 공사</span>
                    <span>08 성동 노인 종합복지관 시설개선 공사</span>
                    <span>06 하이트진로(주) 강정동 연수원 배수로 시설공사</span>
                    <span>05 연희동 114-1번지 증축공사</span>
                    <span>03 응급외상병동 시설개선공사</span>
                    <span>03 돌베개사옥북카페 증축공사</span>
                    <span>02 산림통 SHOP REMODELING 공사</span>
                </p>
            </div>

            <div class="history-line-view">
                <div class="history-dates">
                    <div class="history-date">
                        <span class="date">2011</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date">
                        <span class="date">2012</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date">
                        <span class="date">2013</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date active">
                        <span class="date">2014</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date">
                        <span class="date">2015</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date">
                        <span class="date">2016</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date">
                        <span class="date">2017</span>
                        <span class="dots"></span>
                    </div>
                </div>
                <hr class="history-line">
            </div>
        </div>
    </div>

</div>
<script>
    (function() {
        $('.slider-wrapper').addClass('owl-carousel').owlCarousel({
            loop: true,
            items: 1,
            nav: true,
            dots: true,
            navContainerClass: 'owl-nav-custom',
            dotsContainer: '#carousel-custom-dots',
            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
        });
    })();
</script>
<% include ../partials/foot.ejs %>