<% include ../partials/head.ejs %>

<div class="contents about">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>그리다_집 이란</p>
            <p>그리다집에서 인테리어 비용 절약, 시간 절감, 품질 향상을 경험하세요.</p>
        </div>
    </div>
    <div class="about-wrapper">
        <span class="background-word">
            Service
        </span>
        <div class="timeline-view">
            <div class="timeline">
                <div class="timeline-header clearing">
                    <div class="left title">
                        <h2>그리다_집<br />인테리어<br />서비스 순서</h2>
                    </div>
                    <div class="right images">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-1.png" />
                    </div>
                    <span class="start-timeline-ellipse">
                        <span></span>
                    </span>
                </div>
                <div class="container left">
                    <div class="content">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-2.png" />
                        <h2>상담신청</h2>
                        <p>
                            무료상담을 신청한 고객님께 확인전화를 드리고<br />방문일정을 확정합니다.
                        </p>
                        <span class="counter">1</span>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-3.png" />
                        <h2>방문상담</h2>
                        <p>
                            매니저가 약속한 시간에 방문하여,<br />인테리어 상담을 진행합니다.
                        </p>
                        <span class="counter">2</span>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-4.png" />
                        <h2>인테리어 제안</h2>
                        <p>
                            상담 결과를 토대로, 가견적서와<br />인테리어 디자인 제안서를 무료로 제공합니다.
                        </p>
                        <span class="counter">3</span>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-5.png" />
                        <h2>계약</h2>
                        <p>
                            계약을 결정한 고객은 계약금<br />(평수*5만원)을 입금하신 후,<br />디자이너와 매칭됩니다.
                        </p>
                        <span class="counter">4</span>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-6.png" />
                        <h2>디자인확정</h2>
                        <p>
                            디자이너와 인테리어 방향을 확정하시면<br />상세 견적서와 일정표를 전달드립니다.
                        </p>
                        <span class="counter">5</span>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-7.png" />
                        <h2>전문시공</h2>
                        <p>
                            시공팀장이 현장을 감독합니다. 오늘의<br />공사내용을 카카오톡으로 받아보실 수<br />있습니다.
                        </p>
                        <span class="counter">6</span>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-8.png" />
                        <h2>공사완료</h2>
                        <p>
                            고객님과 공사현장 확인 후 공사를 완료합니다.
                        </p>
                        <span class="counter">7</span>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-icon-9.png" />
                        <h2>A/S</h2>
                        <p>
                            SGI 하자 보증서(1년)을 제공합니다.<br />하자 보수팀이 무상수리를 담당합니다.
                        </p>
                        <span class="counter">8</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sample-download-view">
            <div class="download-title">
                <h2>그리다_집의 샘플 제안/견적서</h2>
            </div>
            <div class="button-wrapper">
                <a href="https://static.gridazip.co.kr/resources/sample-estimate-sheet.jpg" target="_blank">
                    <button class="default-btn">가견적서 샘플 다운로드</button>
                </a>
                <a href="https://static.gridazip.co.kr/resources/sample-design-concept.pdf" target="_blank">
                    <button class="default-btn">디자인 제안서 다운로드</button>
                </a>
            </div>
        </div>
        <div class="price-info-view">
            <div>
                <h2>그리다_집의 디자인 가격정책</h2>
            </div>
            <div class="price-items-wrapper">
                <div class="price-info-items">
                    <div class="price-image-wrapper">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-price-icon-1.png" />
                        <span>1</span>
                    </div>
                    <p>계약금</p>
                    <span>평수 X 5</span>
                </div>
                <div class="image-line"></div>
                <div class="price-info-items">
                    <div class="price-image-wrapper">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-price-icon-2.png" />
                        <span>2</span>
                    </div>
                    <p>착수금</p>
                    <span>자재비</span>
                </div>
                <div class="image-line"></div>
                <div class="price-info-items">
                    <div class="price-image-wrapper">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-price-icon-3.png" />
                        <span>3</span>
                    </div>
                    <p>중도금</p>
                    <span>인건비</span>
                </div>
                <div class="image-line"></div>
                <div class="price-info-items">
                    <div class="price-image-wrapper">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal/about-price-icon-1.png" />
                        <span>4</span>
                    </div>
                    <p>완료금</p>
                    <span>설계/감리/서비스 비용</span>
                </div>
            </div>
        </div>

        <div class="portfolio-view">
            <h2>양평동 동보아파트 34PY</h2>
            <div class="portfolio">
                <div class="portfolio-images">
                    <div class="pos-r">
                        <div class="slider-wrapper">
                            <div class="image-items">
                                <img src="https://static.gridazip.co.kr/assets/images_renewal/portfolio-about-1.png" />
                            </div>
                            <div class="image-items">
                                <img src="https://static.gridazip.co.kr/assets/images_renewal/portfolio-about-2.jpg" />
                            </div>
                            <div class="image-items">
                                <img src="https://static.gridazip.co.kr/assets/images_renewal/portfolio-about-3.png" />
                            </div>
                        </div>
                        <div class="pos-a dot-container">
                            <div id='carousel-custom-dots' class='owl-dots'>
                                <span class='owl-dot'>1</span>
                                <span class='owl-dot'>2</span>
                                <span class='owl-dot'>3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-price-info">
                    <h5>총 비용: 3,700만원</h5>
                    <div class="price-info-items">
                        <div>
                            <div class="price-image-wrapper">
                                <img src="https://static.gridazip.co.kr/assets/images_renewal/about-price-icon-1.png" />
                            </div>
                            <span>계약금</span>
                        </div>
                        <span>170만원</span>
                    </div>
                    <div class="price-info-items">
                        <div>
                            <div class="price-image-wrapper">
                                <img src="https://static.gridazip.co.kr/assets/images_renewal/about-price-icon-2.png" />
                            </div>
                            <span>착수금</span>
                        </div>
                        <span>1,650만원</span>
                    </div>
                    <div class="price-info-items">
                        <div>
                            <div class="price-image-wrapper">
                                <img src="https://static.gridazip.co.kr/assets/images_renewal/about-price-icon-3.png" />
                            </div>
                            <span>중도금</span>
                        </div>
                        <span>1,180만원</span>
                    </div>
                    <div class="price-info-items">
                        <div>
                            <div class="price-image-wrapper">
                                <img src="https://static.gridazip.co.kr/assets/images_renewal/about-price-icon-4.png" />
                            </div>
                            <span>완료금</span>
                        </div>
                        <span>700만원</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="history-view">
            <span class="background-word">History</span>

            <div class="history-description">
                <h2 class="history-title">그리다_집이 걸어온 길</h2>
                <p class="history-list" data-cur-date="2018">
                    <span>04 건대 카레당 인테리어 8평</span>
                    <span>03 청담 아이빌 인테리어 5층 45평</span>
                    <span>03 소하동 여성의류몰 노이 인테리어 10평</span>
                    <span>02 송파 아파트 인테리어 20평</span>
                    <span>01 경기 꿈마을 아파트 인테리어 36평</span>
                    <span>01 은평 한진빌라 인테리어 40평</span>
                </p>
                <p class="history-list hide" data-cur-date="2017">
                    <span>12 도곡 삼성래미안 아파트 인테리어 24평</span>
                    <span>11 은평뉴타운 아파트 이편한세상 인테리어 32평</span>
                    <span>10 은평뉴타운 삼성래미안 아파트 인테리어 38평</span>
                    <span>09 위례 호반베르디움 아파트 인테리어 37평</span>
                    <span>09 상봉 태영데시앙 인테리어 34평</span>
                    <span>08 당진 리가아파트 인테리어 40평</span>
                    <span>06 천안 극동아파트 인테리어 34평</span>
                    <span>06 돈암 삼성래미안 아파트 인테리어 34평</span>
                    <span>05 옥수 삼성래미안 아파트 인테리어 25평</span>
                    <span>05 동작 삼성래미안 아파트 인테리어 32평</span>
                    <span>05 양평 휴먼빌 아파트 인테리어 33평</span>
                    <span>04 장안동 에메랄드 아파트 인테리어 20평</span>
                    <span>04 이촌동 장미맨션 아파트 인테리어 58평</span>
                    <span>03 광주 태영맨션 빌라 인테리어 32평</span>
                    <span>03 목동 동부아파트 인테리어 34평</span>
                    <span>02 스타벅스 망포동 3층 건축</span>
                    <span>02 의정부 신세계 푸드코트 인테리어</span>
                </p>
                <p class="history-list hide" data-cur-date="2016">
                    <span>아파트 인테리어 26건</span>
                </p>
                <p class="history-list hide" data-cur-date="2015">
                    <span>10 수원덕영대로근.생(STARBUCKS) 신축</span>
                    <span>10 SESOP KOREA 3F, 5F REMODELING </span>
                    <span>06 강화고천리주택 신축</span>
                    <span>04 아남빌딩계단 신설</span>
                    <span>03 하이트진로(주) 강정동 연수원개 보수</span>
                </p>
                <p class="history-list hide" data-cur-date="2014">
                    <span>10 짚풀 생활사 박물관 보수</span>
                    <span>08 필운동구문자답 리모델링 </span>
                    <span>08 성동 노인 종합복지관 시설개선 </span>
                    <span>06 하이트진로(주) 강정동 연수원 배수로 시설</span>
                    <span>05 연희동 114-1번지 증축</span>
                    <span>03 응급외상병동 시설개선</span>
                    <span>03 돌베개사옥북카페 증축</span>
                    <span>02 산림통 SHOP REMODELING </span>
                </p>
                <p class="history-list hide" data-cur-date="2013">
                    <span>12 블루헤런 G.C 증축, 인테리어 </span>
                    <span>11 아남전자(주) 구로동사옥 증축</span>
                    <span>09 방배동 751-3번지 증축</span>
                    <span>08 성동리공장 보수</span>
                    <span>06 SPKOREA OFFICE 인테리어 </span>
                    <span>05 의정부 현대아파트 인테리어 </span>
                    <span>04 아남전자(주) 삼성동사옥 임원실 리모델링 </span>
                    <span>03 생릉출판사 파사드 </span>
                </p>
                <p class="history-list hide" data-cur-date="2012">
                    <span>11 김해그린생활시설 신축</span>
                    <span>09 돌베개사옥 보수</span>
                    <span>09 굽끌집 인테리어 </span>
                    <span>07 아남빌딩(로비, 2층, 4층) 인테리어 </span>
                    <span>04 (주)제일모직 파사드 신축</span>
                </p>
                <p class="history-list hide" data-cur-date="2011">
                    <span>12 청담동 하이트진로(본사) 사무실 보수</span>
                    <span>10 청담동 하이트진로(본사) 보안게이트 </span>
                    <span>09 이대부속 중학교 온수 건축</span>
                    <span>09 이대부속 고등학교 도서관 가구</span>
                    <span>07 클린보이(성수점 E-MART) 부분 보수</span>
                    <span>07 역촌동(K씨댁) 주택 인테리어 </span>
                    <span>07 굽꿀집(강변점 인테리어 </span>
                    <span>05 올림픽 선수촌 아파트 리모델링 </span>
                    <span>04 돌베게사옥 보수</span>
                    <span>03 청담동 하이트진로(본사) 지하주차장 </span>
                    <span>01 MORY & BEAUTY 리모델링 </span>
                </p>
            </div>

            <div class="history-line-view">
                <div class="history-dates">
                    <div class="history-date" data-cur-date="2011">
                        <span class="date">2011</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date" data-cur-date="2012">
                        <span class="date">2012</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date" data-cur-date="2013">
                        <span class="date">2013</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date" data-cur-date="2014">
                        <span class="date">2014</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date" data-cur-date="2015">
                        <span class="date">2015</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date" data-cur-date="2016">
                        <span class="date">2016</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date" data-cur-date="2017">
                        <span class="date">2017</span>
                        <span class="dots"></span>
                    </div>
                    <div class="history-date active" data-cur-date="2018">
                        <span class="date">2018</span>
                        <span class="dots"></span>
                    </div>
                </div>
                <hr class="history-line">
            </div>
        </div>
    </div>

</div>
<script src="/scripts/pages/about.js"></script>
<% include ../partials/foot.ejs %>