<% include ../partials/head.ejs %>

<div class="contents company">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>회사 소개</p>
        </div>
    </div>

    <div class="company-wrapper">
        <section class="main-introduce">
            <div class="contents">
                <p>당신의 행복이 담긴 공간,행복이 그려지는 곳</p>
                <div class="subject">
                    <p class="bold">믿고 맡길 수 있는 안전한 인테리어</p>
                    <p class="bold">그리다집이 표준을 만들어 갑니다.</p>
                </div>
                <p>‘그리다_집’은 ‘기술이 측정하고, 사람이 완성하다’라는 슬로건을 바탕으로, 시장에 팽배한 소비자와 공급자의 불신을 종식시키고, 비용을 절감하며, 산업의 표준화된 혁신을 가져올 국내 유일의 인테리어 입찰플랫폼 서비스를 구축하고 있습니다.</p>
                <p>수많은 현장에서 쌓은 자체 시공 능력과 경험을 가지고 끊임없이 연구하며 보다 안전하고 표준화된 인테리어 전문 플랫폼 서비스를 제공하고 있는 가운데, 소비자에서 제공되는 정보의 비대칭,어려운 시공과정,기준 없는 견적,하자발생에 따른 AS불이행 그리고 비효율적인 발품의 낭비에서 벗어나
                    원가 표준 견적솔루션,시공입찰 및 셀프인테리어 서비스를 제공하며 기존 인테리어 업계의 문제들을 개선하고 있습니다.</p>
                <p>또한, 대기업 가전제품 도소매 유통/컨설팅 서비스를 제공하고 있는 가전 커머셜 사업부의 전문가를 통해 가전까지 인테리어에 포함한 업계 유일의 '인테리어 가전 큐레이팅 서비스'를 선보이며, 인테리어의 새로운 영역을 만들어 가고 있습니다.</p>
                <p>이러한 노력 아래, 서비스 런칭 후 2년 동안 누적 거래액 200억을 돌파하며 2018년 대비 300% 이상의 매출신장률을 보이고 있습니다.</p>
            </div>
        </section>
        <section class="culture">
            <div class="contents">
                <p class="subject">기업문화</p>
                <div class="culture-box">
                    <div class="left">Just Do It</div>
                    <div class="right">우리는 탁상행정을 지양합니다. 문제를 발견하면 해결을 위해 바로 행동합니다.</div>
                </div>
                <div class="culture-box">
                    <div class="left">Simple is Best</div>
                    <div class="right">우리는 쉬운 것을 지향합니다. 복잡한 것은 지양합니다.</div>
                </div>
                <br>
                <br>

                <p>이해와 성과는 높이고, 소모적인 것과 복잡한 것은 줄이고, 모든 과정은 간편하고 안전하게 진행합니다.</p>
                <br>
                <p>그리다_집은</p>
                <p>모든 구성원이 고객의 '가정'에 최고의 인테리어를 제공하듯,</p>
                <p>직원 자신과 회사에도 최고의 인테리어를 할 수 있도록 해 모두가 조화롭게 동반 성장하는 조직을 만드는 것을 지향하고 있습니다.</p>
                <br>
                <p>조직의 모든 구성원은 '전문가'로서 책임감을 가지고 자율적으로 일합니다.</p>
                <p>자율적이면서도 주도적인 업무 진행을 통해 고객과 업체, 회사와 직워 모두 탁월한 성과를 얻는 것을 추구합니다.</p>
                <br>
                <p>곳곳에 자리 잡은 통념과 관습과 싸우며 틀을 깨는 사고로 문제에 접근합니다.</p>
                <br>
                <p>더 잘 할 수 있는 방법에 대해 계속 고민하고, 적극적으로 파고 들며 최선의 방법을 찾고자 노력합니다.</p>
                <p>고객의 만족을 위해 최고의 것을 먼저 고민하고 제안합니다.</p>
            </div>
        </section>
        <section class="history">
            <div class="contents">
                <div class="subject">연혁</div>
                <div class="history-box-wrapper">
                    <div class="history-box">
                        <div class="year">2016</div>
                        <div class="content">01  가전유통 런칭</div>
                    </div>
                    <div class="history-box">
                        <div class="year">2017</div>
                        <div class="content">08  가전 매출 100억 달성</div>
                    </div>

                </div>
                <div class="history-box-wrapper">
                    <div class="history-box">
                        <div class="year">2018</div>
                        <div class="content">04  O2O 인테리어 서비스 런칭</div>
                        <div class="content">04  인테리어 견적서비스 특허출원</div>
                        <div class="content">05  가전추천 서비스 특허출원</div>
                        <div class="content">06  벤쳐기업 인증</div>
                        <div class="content">10  ISO 14001, ISO 9001 인증 획득</div>
                        <div class="content">10  KED 기술역량 우수기업 인증</div>
                    </div>

                    <div class="history-box">
                        <div class="year">2019</div>
                        <div class="content">01  건물 하자진단 보고서 특허출원</div>
                        <div class="content">05  누적 매출 200억 달성</div>
                        <div class="content">12  인테리어 시공 90호 달성</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="/scripts/pages/cooperation-request.js"></script>
<% include ../partials/foot.ejs %>
