<% include ../partials/head.ejs %>
<div class="contents event-page">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>가전/가구 <br>큐레이팅 서비스</p>
            <p>가전/가구 맞춤식 인테리어를 소개합니다.</p>
        </div>
    </div>

    <div class="event-detail pos-r">
        <!--<div class="event-title">-->
            <!--<h1>'가전도 인테리어다' 서비스 출시 기념 행사</h1>-->
            <!--<p>이벤트 기간: 2018.12.01 ~ 2018.12.31</p>-->
        <!--</div>-->
        <hr>
        <div class="event-body">
            <img src="/images/electronics_quration_service_main.gif" />
            <a href="#" class="request-btn" data-modal="modal-request" style="display:inline-block">무료방문상담 신청하기</a>
        </div>
    </div>
</div>
<script src="/scripts/pages/electronics.js"></script>
<% include ../partials/foot.ejs %>