<% include ../partials/head.ejs %>
    <div class="contents main">
        <section class="main-visual-slider">
            <div class="pos-r">
                <div class="slider-wrapper">
                    <div class="image-items main-bg-01">
                        <div class="main-text">
                            <p>그리다_집</p>
                            <p>당신의 삶에 인테리어를 그리다</p>
                        </div>
                    </div>
                    <div class="image-items main-bg-02">
                        <div class="main-text">
                            <p>그리다_일상</p>
                            <p>당신이 꿈꾸던 일상을 그리다</p>
                        </div>
                    </div>
                    <div class="image-items main-bg-03">
                        <div class="main-text">
                            <p>그리다_행복</p>
                            <p>행복한 당신의 공간을 그리다</p>
                        </div>
                    </div>
                </div>

                <div class="pos-a request-btn-container">
                    <a href="#">
                        <button class="request-btn">무료 방문 상담 신청</button>
                    </a>

                    <div id='carousel-custom-dots' class='owl-dots'>
                        <span class='owl-dot'>1</span>
                        <span class='owl-dot'>2</span>
                        <span class='owl-dot'>3</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-portfolio">
            <span class="background-word">Recent Works</span>
            <div class="pos-r top-30">
                <div class="slider-wrapper">
                    <div class="image-items">
                        <img src="/images/portfolio-images-1.jpg" alt="포트폴리오 이미지 1"/>
                        <div class="clearing">
                            <span>용산 시티파크</span>
                            <span>39py | 4,000만원</span>
                        </div>
                    </div>
                    <div class="image-items">
                        <img src="/images/portfolio-images-2.jpg" alt="포트폴리오 이미지 1"/>
                        <div class="clearing">
                            <span>용산 시티파크</span>
                            <span>39py | 4,000만원</span>
                        </div>
                    </div>
                    <div class="image-items">
                        <img src="/images/portfolio-images-3.jpg" alt="포트폴리오 이미지 1"/>
                        <div class="clearing">
                            <span>용산 시티파크</span>
                            <span>39py | 4,000만원</span>
                        </div>
                    </div>
                    <div class="image-items">
                        <img src="/images/portfolio-images-4.jpg" alt="포트폴리오 이미지 1"/>
                        <div class="clearing">
                            <span>용산 시티파크</span>
                            <span>39py | 4,000만원</span>
                        </div>
                    </div>
                    <div class="image-items">
                        <img src="/images/portfolio-images-5.jpg" alt="포트폴리오 이미지 1"/>
                        <div class="clearing">
                            <span>용산 시티파크</span>
                            <span>39py | 4,000만원</span>
                        </div>
                    </div>
                    <div class="image-items">
                        <img src="/images/portfolio-images-6.jpg" alt="포트폴리오 이미지 1"/>
                        <div class="clearing">
                            <span>용산 시티파크</span>
                            <span>39py | 4,000만원</span>
                        </div>
                    </div>
                    <div class="image-items">
                        <img src="/images/portfolio-images-7.jpg" alt="포트폴리오 이미지 1"/>
                        <div class="clearing">
                            <span>용산 시티파크</span>
                            <span>39py | 4,000만원</span>
                        </div>
                    </div>
                </div>
                <div id='carousel-custom-dots-portfolio' class='owl-dots'>
                    <!--<span class='owl-dot'>1</span>-->
                    <!--<span class='owl-dot'>2</span>-->
                    <!--<span class='owl-dot'>3</span>-->
                </div>
            </div>

            <!--<div class="grid">-->
                <!--<div class="grid-sizer"></div>-->
                <!--<div class="grid-item">-->
                    <!--<img src="/images/portfolio-images-1.jpg" />-->
                <!--</div>-->
                <!--<div class="grid-item grid-item-width3">-->
                    <!--<img src="/images/portfolio-images-2.jpg" />-->
                <!--</div>-->
                <!--<div class="grid-item">-->
                    <!--<img src="/images/portfolio-images-3.jpg" />-->
                <!--</div>-->
                <!--<div class="grid-item grid-item-width2">-->
                    <!--<img src="/images/portfolio-images-3.jpg" />-->
                <!--</div>-->
                <!--<div class="grid-item">-->
                    <!--<img src="/images/portfolio-images-2.jpg" />-->
                <!--</div>-->
                <!--<div class="grid-item grid-item-width2">-->
                    <!--<img src="/images/portfolio-images-3.jpg" />-->
                <!--</div>-->
                <!--<div class="grid-item grid-item-width3">-->
                    <!--<img src="/images/portfolio-images-1.jpg" />-->
                <!--</div>-->
                <!--<div class="grid-item">-->
                    <!--<img src="/images/portfolio-images-1.jpg" />-->
                <!--</div>-->
                <!--<div class="grid-item grid-item-width2">-->
                    <!--<img src="/images/portfolio-images-3.jpg" />-->
                <!--</div>-->
            <!--</div>-->

        </section>
        <section class="main-features">
            <span class="background-word">Features</span>
            <div class="feature-info">
                <div class="feature-images feature-1">
                    <img class="vertical-center" src="/images/features_img01.png" alt="그리다집 피쳐 이미지 1번"/>
                </div>
                <div class="feature-text-info">
                    <div class="feature-description-wrapper">
                        <div class="feature-description">
                            <p class="feature-description-header">그리다집은 투명하다</p>
                            <p class="feature-description-body">그리다집은 통합적인 서비스 비용 대신 공사 요소 하나하나의 <br />원가를 투명하게 공개합니다.</p>
                        </div>
                        <div class="request-download-btn">
                            <a href="#">
                                <button class="request-btn large">가견적서 샘플 다운받기</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-info">
                <div class="feature-images right-align feature-2">
                    <img class="vertical-center" src="/images/features_img02.png" alt="그리다집 피쳐 이미지 2번"/>
                </div>
                <div class="feature-text-info left-align">
                    <div class="feature-description-wrapper">
                        <div class="feature-description">
                            <p class="feature-description-header">그리다집은 디자인이다.</p>
                            <p class="feature-description-body">그리다집은 모든 고객에게 디자인 제안서, 3D 모델링 스크린 샷 등을 <br />제공합니다.</p>
                        </div>
                        <div class="request-download-btn">
                            <a href="#">
                                <button class="request-btn large">디자인제안서 샘플 다운받기</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-info">
                <div class="feature-images feature-3">
                    <img class="vertical-center" src="/images/features_img03.png" alt="그리다집 피쳐 이미지 3번"/>
                </div>
                <div class="feature-text-info">
                    <div class="feature-description-wrapper">
                        <div class="feature-description">
                            <p class="feature-description-header">그리다집은 고객이다</p>
                            <p class="feature-description-body">그리다집은 매니저-디자이너-시공인이 한 프로젝트의 처음과 끝을 함께합니다.</p>
                        </div>
                        <div class="request-download-btn">
                            <a href="#">
                                <button class="request-btn large">회사소개서 다운받기</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-customer-review">
            <div class="review-wrapper">
                <p>고객 리뷰</p>
                <div class="review-slider">
                    <div class="pos-r">
                        <div class="review">
                            <p>
                                확장방은 단열도 다시 시공하고 샤시를 바꾸니..오 놀랍습니다.
                                알미늄샤시랑은 차원이 틀리네요... 오늘 아침에 감동먹고 그리다집에 문자보냈어요... 고맙다고.. :)
                                문고리 하나하나까지 제가 고를 수 있고, 좋아요~
                            </p>
                        </div>
                    </div>
                    <div class="review-customer-info">
                        <p class="reviewer-name">세곡동 수지엄마</p>
                        <p class="reviewer-place">30평 아파트 인테리어</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-request">
            <div class="request-wrapper">
                <p>무료 방문상담 신청하기</p>
                <div class="clearing">
                    <div class="request-form">
                        <div class="request-input-wrapper">
                            <div class="input-label-wrapper">
                                <label for="inputRequestName">이름<span class="red-star">*</span></label>
                                <input type="text" id="inputRequestName" placeholder="이름을 입력해주세요." />
                            </div>

                            <div class="input-label-wrapper">
                                <label for="inputRequestPhone">전화번호<span class="red-star">*</span></label>
                                <input type="text" id="inputRequestPhone" placeholder="전화번호를 입력해주세요."/>
                            </div>

                            <a href="#">
                                <button>본인인증 하기</button>
                            </a>
                        </div>
                        <div class="request-input-wrapper">
                            <div class="input-label-wrapper">
                                <div class="clearing">
                                    <label for="inputRequestName">인증번호 입력<span class="red-star">*</span></label>
                                    <span class="timer">03:00</span>
                                </div>
                                <input type="text" id="inputRequestAuthCode" placeholder="인증번호를 입력해주세요." />
                            </div>

                            <a href="#">
                                <button>인증하기</button>
                            </a>
                            <a href="#" class="ml-30">
                                <button>재전송</button>
                            </a>
                        </div>
                    </div>
                    <div class="info-download-wrapper">
                        <span class="logo-description">당신의 삶에 인테리어를 그리다</span>
                        <img src="/images/logo_g.png" alt="그리다집 로고" />
                        <p>그리다집의 전문 매니저가 입력하신 번호로 <br />연락을 드린 후, 무료로 방문 상담을 해드립니다.</p>
                        <span class="info-download">그리다_집 소개자료 다운받기<i class="fa fa-download"></i></span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal modal-portfolio hide">
        <div class="background"></div>
        <button class="close-btn">X</button>
        <div class="slider-wrapper">
            <div class="image-items">
                <img src="/images/portfolio-images-1.jpg" alt="포트폴리오 이미지 1"/>
            </div>
            <div class="image-items">
                <img src="/images/portfolio-images-2.jpg" alt="포트폴리오 이미지 1"/>
            </div>
            <div class="image-items">
                <img src="/images/portfolio-images-3.jpg" alt="포트폴리오 이미지 1"/>
            </div>
        </div>
    </div>

    <% include ../pages/modal/terms-modal.ejs %>
    <% include ../pages/modal/request-modal.ejs %>
</div>

<% include ../partials/foot.ejs %>

<script>
  (function() {
    $('.main-visual-slider .slider-wrapper').addClass('owl-carousel').owlCarousel({
      loop: true,
      items: 1,
      nav: true,
      dots: true,
      navContainerClass: 'owl-nav-custom',
      navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      dotsContainer: '#carousel-custom-dots',
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true
    });
  })();

  // Web
  // (function() {
  //     $('.modal-portfolio .slider-wrapper').addClass('owl-carousel').owlCarousel({
  //         loop: true,
  //         items: 1,
  //         nav: true,
  //         // center: true,
  //         dots: false,
  //         margin:40,
  //         navContainerClass: 'owl-nav-custom',
  //         navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
  //     });
  // })();

  (function() {
      $('.modal-portfolio .slider-wrapper').addClass('owl-carousel').owlCarousel({
          loop: true,
          items: 1,
          nav: false,
          // center: true,
          dots: false,
          navContainerClass: 'owl-nav-custom',
          navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      });
  })();
  //
  // (function() {
  //   $('.main-portfolio .slider-wrapper').addClass('owl-carousel').owlCarousel({
  //       loop: true,
  //       items: 1,
  //       nav: false,
  //       center: true,
  //       dots: true,
  //       margin:40,
  //       // navContainerClass: 'owl-nav-custom',
  //       // navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
  //       dotsContainer: '#carousel-custom-dots-portfolio'
  //   });
  // })();

  (function() {
      $('.main-portfolio .slider-wrapper').addClass('owl-carousel').owlCarousel({
          loop: true,
          items: 4,
          nav: true,
          center: true,
          dots: true,
          margin:40,
          navContainerClass: 'owl-nav-custom',
          navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
          dotsContainer: '#carousel-custom-dots-portfolio'
      });
  })();
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "그리다집",
    "url": "http://www.gridazip.com",
    "sameAs": [
        "https://www.facebook.com/gridazip",
        "https://www.instagram.com/gridazip/",
        "https://story.kakao.com/ch/gridazib",
        "http://blog.naver.com/gridazip"
    ]
}
</script>

<script src="/scripts/pages/main.js"></script>
<%
if(fullscreen === false) {
%>

<!-- Channel Plugin Scripts -->
<script>
  window.channelPluginSettings = {
    "pluginKey": "50362d2e-ba2b-447d-9780-eca5da560176"
  };
  (function() {
    var node = document.createElement('div');
    node.id = 'ch-plugin';
    document.body.appendChild(node);
    var async_load = function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    };
    if (window.attachEvent) {
      window.attachEvent('onload', async_load);
    } else {
      window.addEventListener('DOMContentLoaded', async_load, false);
    }
  })();
</script>
<!-- End Channel Plugin -->

<%
}
%>