<% include ../partials/head.ejs %>
    <div class="contents main">
        <section class="main-visual-slider">
            <div class="pos-r">
                <div class="slider-wrapper">
                    <div class="image-items main-bg-01">
                        <div class="main-text">
                            <p>맞춤형 설계</p>
                            <p>인테리어</p>
                            <p>고객도 업체도 원하는대로 맞춤형으로 커스텀 인테리어 서비스</p>
                        </div>
                    </div>
                    <div class="image-items main-bg-02">
                        <div class="main-text">
                            <p>인테리어 + 가전</p>
                            <p>큐레이팅 서비스</p>
                            <p>인테리어와 가전이 하나의 상품형태로 구매가 가능한 빌트인 서비스</p>
                        </div>
                    </div>
                    <div class="image-items main-bg-02">
                        <div class="main-text">
                            <p>그리다집</p>
                            <p>5대 안전패키지</p>
                            <p>인테리어 시작부터 끝까지 안전하게</p>
                        </div>
                    </div>
                    <!--<div class="image-items main-bg-03">-->
                        <!--<div class="main-text">-->
                            <!--<p>그리다_행복</p>-->
                            <!--<p>행복한 당신의 공간을 그리다</p>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>

                <div class="pos-a request-btn-container">
                    <!--<a href="#">-->
                        <!--<button class="request-btn" data-modal="modal-request">무료 방문 상담 신청</button>-->
                    <!--</a>-->

                    <div id='carousel-custom-dots' class='owl-dots'>
                        <span class='owl-dot'>1</span>
                        <span class='owl-dot'>2</span>
                        <!--<span class='owl-dot'>3</span>-->
                    </div>
                </div>
            </div>
        </section>
        <section class="main-event">
            <div class="event-info">
                <!--<div class="events-header"><h3>'가전도 인테리어다' 서비스 출시 기념</h3></div>-->
                <div>
                    <div class="text-center">
                        <img src="https://static.gridazip.co.kr/assets/images_renewal_v2/main_event.jpg" alt="그리다집 가전 큐레이팅 이벤트 배너"/>
                    </div>
                </div>

            </div>
        </section>
        <section class="main-portfolio">
            <span class="background-word">포트폴리오</span>
            <div class="pos-r top-30">
                <div class="slider-wrapper" id="portfolioListView"></div>
                <div id='carousel-custom-dots-portfolio' class='owl-dots'>
                </div>
            </div>
        </section>

        <section class="main-features">
            <span class="background-word">왜 그리다집 일까요?</span>
            <div class="feature-info">
                <div class="info-box">
                    <img src="https://static.gridazip.co.kr/assets/images_renewal_v2/main_feature_01.jpg" alt="그리다집 특징 이미지 1">
                    <div class="contents">
                        <p><b>정직하게</b> 그리다</p>
                        <span>다양한 분야의 직접시공을 통한 빅데이터 기반의 원가 표준 견적솔루션으로 제공하는 투명하고 기준이 명확한 표준견적을 제공해드립니다.</span>
                        <span>더 이상 기준 없는 견적, 터무니 없이 낮은 비용으로 인한 부실 공사, 시공과정에 발생되는 무리한 추가 비용 요구로 고민하지 마세요.</span>
                        <span>그리다집에서 해답을 드립니다.</span>
                    </div>
                </div>

                <div class="info-box">
                    <img src="https://static.gridazip.co.kr/assets/images_renewal_v2/main_feature_02.jpg" alt="그리다집 특징 이미지 2">
                    <div class="contents">
                        <p><b>간편하게</b> 그리다</p>
                        <span>안심되고 신뢰있는 상담과 시공 전 인테리어 현황 점검부터 가전 제안 및 최저가 구매보상제도와 함께 고객맞춤형 가전 인테리어 시공까지 그리다집이 모두 도와드립니다.</span>
                        <span>인테리어와 가전 전문가들이 제공해 드리는 업계 유일의 ‘인테리어 가전 큐레이팅’서비스를 경험하세요.</span>
                    </div>
                </div>

                <div class="info-box">
                    <img src="https://static.gridazip.co.kr/assets/images_renewal_v2/main_feature_03.jpg" alt="그리다집 특징 이미지 3">
                    <div class="contents">
                        <p><b>안전하게</b> 그리다</p>
                        <span>그리다집만의 5대 안전 패키지(고객 안전 전담 마크맨,사전 안전 점검,기본 안전 설계, 시공 안전 보증보험, 1년 안전 AS보장)로 인테리어의 시작부터 끝까지 그리다집이 책임집니다.</span>
                        <span>기술이 측정하고 사람이 완성한 공간에는 안심하고 신뢰할 수 있는 당신의 행복이 함께합니다.</span>
                    </div>
                </div>
            </div>
            <!--<span class="background-word">Features</span>-->
            <!--<div class="feature-info">-->
                <!--<div class="feature-images feature-1">-->
                    <!--<img class="vertical-center" src="https://static.gridazip.co.kr/resources/sample-estimate-sheet.jpg" alt="그리다집 피쳐 이미지 1번"/>-->
                <!--</div>-->
                <!--<div class="feature-text-info">-->
                    <!--<div class="feature-description-wrapper">-->
                        <!--<div class="feature-description">-->
                            <!--<p class="feature-description-header">인테리어를 그리다.</p>-->
                            <!--<p class="feature-description-body">눈대중으로 받아보는 견적은 이제 그만! 그리다집은 인테리어 전문가와의 상담을 통해 평면도와 항목별 가견적서를 제공하여 투명한 서비스를 지향하고 있습니다. 합리적인 가격으로 나만의 공간을 만들어보세요.</p>-->
                        <!--</div>-->
                        <!--<div class="request-download-btn">-->
                            <!--<a href="https://static.gridazip.co.kr/resources/sample-estimate-sheet.jpg" target="_blank">-->
                                <!--<button class="request-btn large">가견적서 샘플 다운받기</button>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="feature-info">-->
                <!--<div class="feature-images right-align feature-2">-->
                    <!--<img class="vertical-center" src="https://static.gridazip.co.kr/assets/images_renewal/features_img02.png" alt="그리다집 피쳐 이미지 2번"/>-->
                <!--</div>-->
                <!--<div class="feature-text-info left-align">-->
                    <!--<div class="feature-description-wrapper">-->
                        <!--<div class="feature-description">-->
                            <!--<p class="feature-description-header">디자인을 그리다</p>-->
                            <!--<p class="feature-description-body">러스틱, 모던, 트로피칼, 단어로 정의 할 수 없는 당신의 취향. 그리다집은 고객님이 상상하시던 인테리어를 전담 디자이너가 실제로 구현해 드립니다.</p>-->
                        <!--</div>-->
                        <!--<div class="request-download-btn">-->
                            <!--<a href="https://static.gridazip.co.kr/resources/sample-design-concept.pdf" target="_blank">-->
                                <!--<button class="request-btn large">디자인 컨셉 제안서 샘플 다운받기</button>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="feature-info">-->
                <!--<div class="feature-images feature-3">-->
                    <!--<img class="vertical-center" src="https://static.gridazip.co.kr/assets/images_renewal/features_img03.png" alt="그리다집 피쳐 이미지 3번"/>-->
                <!--</div>-->
                <!--<div class="feature-text-info">-->
                    <!--<div class="feature-description-wrapper">-->
                        <!--<div class="feature-description">-->
                            <!--<p class="feature-description-header">사람을 그리다</p>-->
                            <!--<p class="feature-description-body">인테리어를 잘 알지 못한다구요? 그리다집은 자체 검증 시스템을 통해 신뢰도 있는 멤버들로 고객님만을 위한 팀을 구성합니다. 상담부터 시공까지 그리다집과 안심하고 함께하세요.</p>-->
                        <!--</div>-->
                        <!--<div class="request-download-btn">-->
                            <!--<a href="https://static.gridazip.co.kr/resources/company-information.pdf" target="_blank">-->
                                <!--<button class="request-btn large">회사소개서 다운받기</button>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </section>
        <section class="main-request">
            <form id="mainRequestForm">
                <div class="request-wrapper">
                    <p>무료 방문상담 신청하기</p>
                    <div class="clearing">
                        <div class="request-form">
                            <div class="request-input-wrapper user-info">
                                <div class="input-label-wrapper">
                                    <label for="inputRequestName">이름<span class="red-star">*</span></label>
                                    <input type="text" id="inputRequestName" placeholder="이름을 입력해주세요." name="user_name"/>
                                </div>

                                <div class="input-label-wrapper">
                                    <label for="inputRequestPhone">전화번호<span class="red-star">*</span></label>
                                    <input type="text" id="inputRequestPhone" placeholder="전화번호를 입력해주세요." name="user_phone"/>
                                </div>
                                <!--<a href="#" id="authRequestBtn">-->
                                <!--<button>본인인증 하기</button>-->
                                <!--</a>-->
                                <a href="#" id="confirmBtn">
                                    <button>신청하기</button>
                                </a>
                            </div>
                            <div class="request-input-wrapper">
                                <div class="input-label-wrapper agreement-get-user-info" >
                                    <input type="checkbox" id="inputCheckbox" /><label class="checkbox-label" for="inputCheckbox">개인정보 수집 및 이용에 동의합니다.</label>
                                </div>
                            </div>
                            <!--<div class="request-input-wrapper hide auth-input">-->
                            <!--<div class="input-label-wrapper">-->
                            <!--<div class="clearing">-->
                            <!--<label for="inputRequestName">인증번호 입력<span class="red-star">*</span></label>-->
                            <!--<span class="timer">03:00</span>-->
                            <!--</div>-->
                            <!--<input type="text" id="inputRequestAuthCode" placeholder="인증번호를 입력해주세요." name="auth_key" />-->
                            <!--</div>-->

                            <!--<a href="#" id="confirmBtn">-->
                            <!--<button>인증하기</button>-->
                            <!--</a>-->
                            <!--</div>-->
                        </div>
                        <div class="info-download-wrapper">
                            <span class="logo-description">당신의 삶에 인테리어를 그리다</span>
                            <img src="https://static.gridazip.co.kr/assets/images_renewal/logo_g.png" alt="그리다집 로고" />
                            <p>그리다집의 전문 매니저가 입력하신 번호로 <br />연락을 드린 후, 무료로 방문 상담을 해드립니다.</p>
                            <a href="https://static.gridazip.co.kr/resources/company-information.pdf"><span class="info-download">그리다_집 소개자료 다운받기<i class="fa fa-download"></i></span></a>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="main-customer-review">
            <div class="review-wrapper">
                <p>고객 리뷰</p>
                <!--<div class="review-slider">-->
                    <!--<div class="pos-r">-->
                        <!--<div class="review">-->
                            <!--<p>-->
                                <!--확장방은 단열도 다시 시공하고 샤시를 바꾸니..오 놀랍습니다.-->
                                <!--알미늄샤시랑은 차원이 틀리네요... 오늘 아침에 감동먹고 그리다집에 문자보냈어요... 고맙다고.. :)-->
                                <!--문고리 하나하나까지 제가 고를 수 있고, 좋아요~-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="review-customer-info">-->
                        <!--<p class="reviewer-name">세곡동 수지엄마</p>-->
                        <!--<p class="reviewer-place">30평 아파트 인테리어</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </section>

    </div>

    <div class="modal modal-portfolio hide">
        <div class="background"></div>
        <button class="close-btn">X</button>
        <div class="slider-wrapper">
            <div class="image-items">
                <img src="https://static.gridazip.co.kr/assets/images_renewal/portfolio-images-1.jpg" alt="포트폴리오 이미지 1"/>
            </div>
            <div class="image-items">
                <img src="https://static.gridazip.co.kr/assets/images_renewal/portfolio-images-2.jpg" alt="포트폴리오 이미지 2"/>
            </div>
            <div class="image-items">
                <img src="https://static.gridazip.co.kr/assets/images_renewal/portfolio-images-3.jpg" alt="포트폴리오 이미지 3"/>
            </div>
        </div>
    </div>

    <script type="text/template" id="portfolioImageTemplate">
        <div class="image-items" data-value="{{PF_PK}}">
            <img src="{{PI_AFTER}}" alt="포트폴리오 이미지 {{PF_PK}}"/>
            <div class="clearing">
                <span>{{PF_ADDRESS}}</span>
                <span>{{PF_SIZE}}평 | {{PF_PRICE}} 만원</span>
            </div>
        </div>
    </script>
    <script type="text/template" id="reviewTemplate">
        <div class="review-slider">
            <div class="pos-r">
                <div class="review">
                    <p>
                        {{PF_REVIEW}}
                    </p>
                </div>
            </div>
            <div class="review-customer-info">
                <p class="reviewer-name">{{PF_USER}} 님</p>
                <p class="reviewer-place">{{PF_TITLE}}</p>
            </div>
        </div>
    </script>
</div>

<% include ../partials/foot.ejs %>

<script>

</script>

<script src="/scripts/pages/main.js"></script>
<!-- Channel Plugin Scripts -->
<script>
  window.channelPluginSettings = {
    "pluginKey": "50362d2e-ba2b-447d-9780-eca5da560176"
  };
  (function() {
    var node = document.createElement('div');
    node.id = 'ch-plugin';
    document.body.appendChild(node);
    var async_load = function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    };
    if (window.attachEvent) {
      window.attachEvent('onload', async_load);
    } else {
      window.addEventListener('DOMContentLoaded', async_load, false);
    }
  })();
</script>
<!-- End Channel Plugin -->
