<% include ../partials/head.ejs %>

<link rel="stylesheet" href="/fullcalendar/dist/fullcalendar.min.css">
<script src="/fullcalendar/dist/fullcalendar.js"></script>
<script src="/fullcalendar/dist/locale/ko.js"></script>
<script src="/scripts/pages/manage.js"></script>

<div class="section">
  <h2>디자인 제안서</h2>
  <div class="portfolio-document">
    <div class="center">
      <div id="manage_pdf_viewer" class="pdf-viewer"></div>
    </div>
  </div>
</div>

<div class="section">
  <h2>시공 스케줄</h2>
  <div class="article">
    <div class="full-calendar manage-full-calendar"></div>

    <div id="manage_week_day_calendar" class="weeks-calendar manage-weeks-calendar">
      <div class="weeks-header">
      </div>
      <div class="weeks-body">
        <div class="weeks-day"></div>
        <div class="weeks-day"></div>
        <div class="weeks-day"></div>
        <div class="weeks-day"></div>
        <div class="weeks-day"></div>
        <div class="weeks-day"></div>
        <div class="weeks-day"></div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <h2>자재현황</h2>
  <div class="article">
    <div id="manage_constructor" class="manage-item-wrapper">
      <div class="manage-profile">
        <div class="manage-profile-inner">
          <div class="picture"></div>
          <h3></h3>
          <div class="manage-profile-info">
            <div class="manage-profile-item manage-profile-company">
              <i class="fa fa-building-o"></i>
              <span class="value"></span>
            </div>
            <div class="manage-profile-item manage-profile-address">
              <i class="fa fa-home"></i>
              <span class="value">서울시 마포구 상암 DMC 타워</span>
            </div>
          </div>
        </div>
      </div>
      <div id="manage_construction_detail" class="manage-item-inner">
        <div class="col-group">
          <div class="col-4 place">
            <div class="manage-item manage-item-header">공간</div>
          </div>
          <div class="col-4 construction-type">
            <div class="manage-item manage-item-header">시공 방법</div>
          </div>
          <div class="col-4 resource">
            <div class="manage-item manage-item-header">자재</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <h2>간단견적서</h2>
  <div class="receipt">
    <div class="brief">
      <table>
        <thead>
          <tr>
            <th class="left">견적 내용</th>
            <th class="right">금액</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="total clearfix">
        <span class="pull-left">총 비용</span>
        <span class="pull-right"></span>
      </div>
    </div>

    <a href="#" class="btn-toggle-bar">
      <span>상세 견적서 닫기</span>
      <i class="fa fa-chevron-up"></i>
    </a>

    <div class="detailed">
      <div class="detail-group receipt-employee">
        <h3>인건비</h3>
        <table>
          <thead>
            <tr>
              <th>공간</th>
              <th colspan="2">시공</th>
              <th>면적</th>
              <th>단가</th>
              <th>단위</th>
              <th>비용</th>
              <th>시공날짜</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="detail-group receipt-resource">
        <h3>자재비</h3>
        <table>
          <colgroup>
            <col>
            <col style="width: 100px;">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="3">자재</th>
              <th colspan="2">이름</th>
              <th>수량</th>
              <th>단위</th>
              <th>단가</th>
              <th>비용</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% include ../partials/foot.ejs %>