<% include ../partials/head.ejs %>

<div class="contents portfolio">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>포트폴리오</p>
            <p>그리다집에서 디자이너의 인테리어를 만나보세요.</p>
        </div>
    </div>

    <div class="substance">
        <div class="tab clearing">
            <div class="inner" id="portfoliTab">
                <!--<div class="tab-item">-->
                    <!--<span>모던</span>-->
                <!--</div>-->
                <!--<div class="tab-item">-->
                    <!--<span>내추럴</span>-->
                <!--</div>-->
                <!--<div class="tab-item">-->
                    <!--<span>비비드</span>-->
                <!--</div>-->
                <!--<div class="tab-item">-->
                    <!--<span>클래식</span>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="portfolio-pictures text-center">
        <div class="row">
        </div>
    </div>

    <script type="text/template" id="portfolioListTemplate">
        <a href="/portfolio/{{PF_PK}}">
            <div class="image-items">
                <img src="{{PI_AFTER}}">
                <span>{{PF_TITLE}}</span>
            </div>
        </a>
    </script>
        <script type="text/template" id="tabTemplate">
            <div class="tab-item" data-value="{{TAB_VALUE}}">
                <span>{{TAB_NAME}}</span>
            </div>
        </script>

    <!--<div class="request-btn-wrapper text-center">-->
    <!--<button class="request-btn">무료 방문 상담 신청</button>-->
    <!--</div>-->
</div>
<script src="/scripts/pages/portfolio.js"></script>
<% include ../partials/foot.ejs %>