<% include ../partials/head.ejs %>

<div class="contents portfolio">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>포트폴리오</p>
            <p>그리다집에서 디자이너의 인테리어를 만나보세요.</p>
        </div>
    </div>

  <div class="substance">
    <div class="tab clearing">
      <div class="inner">
        <div class="tab-item">
          <span>모던</span>
        </div>
        <div class="tab-item">
          <span>내추럴</span>
        </div>
        <div class="tab-item">
          <span>비비드</span>
        </div>
        <div class="tab-item">
          <span>클래식</span>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-pictures text-center">
    <div class="image-wrapper">
      <div class="row clearing">
        <div class="image-items">
          <img src="/images/portfolio-images-1.jpg" alt="포트폴리오 이미지 1"/>
        </div>
        <div class="image-items">
          <img src="/images/portfolio-images-2.jpg" alt="포트폴리오 이미지 2"/>
        </div>
      </div>
      <div class="row clearing">
        <div class="image-items">
          <img src="/images/portfolio-images-3.jpg" alt="포트폴리오 이미지 3"/>
        </div>
        <div class="image-items">
          <img src="/images/portfolio-images-1.jpg" alt="포트폴리오 이미지 1"/>
        </div>
      </div>
      <div class="row clearing">
        <div class="image-items">
          <img src="/images/portfolio-images-2.jpg" alt="포트폴리오 이미지 2"/>
        </div>
        <div class="image-items">
          <img src="/images/portfolio-images-3.jpg" alt="포트폴리오 이미지 3"/>
        </div>
      </div>
      <div class="row clearing">
        <div class="image-items">
          <img src="/images/portfolio-images-1.jpg" alt="포트폴리오 이미지 1"/>
          <div class="hover">
            <div class="background"></div>
            <div class="center-pos text-center text">
              <p>서울 영등포구 양평동5가 9-1</p>
              <p>31평 | 4,000 만원</p>
            </div>
          </div>
        </div>
        <div class="image-items">
          <img src="/images/portfolio-images-2.jpg" alt="포트폴리오 이미지 2"/>
        </div>
      </div>
    </div>

    <button class="more-btn">
      <i class="fa fa-angle-down"></i>
    </button>

  </div>

  <div class="request-btn-wrapper text-center">
    <button class="request-btn">무료 방문 상담 신청</button>
  </div>

</div>

<% include ../partials/foot.ejs %>