<% include ../partials/head.ejs %>

<div class="contents portfolio">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>포트폴리오</p>
            <p>그리다집에서 디자이너의 인테리어를 만나보세요</p>
        </div>
    </div>
</div>

<% include ../partials/foot.ejs %>