<% include ../partials/head.ejs %>

<div class="contents portfolio">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>포트폴리오</p>
            <p>그리다집에서 디자이너의 인테리어를 만나보세요.</p>
        </div>
    </div>

    <div class="substance">
        <div class="tab clearing">
            <div class="inner">
                <div class="tab-item">
                    <span>모던</span>
                </div>
                <div class="tab-item">
                    <span>내추럴</span>
                </div>
                <div class="tab-item">
                    <span>비비드</span>
                </div>
                <div class="tab-item">
                    <span>클래식</span>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-pictures text-center">

        <div class="row">
            <div class="column">
                <div class="image-items">
                    <img src="/images/portfolio-images-1.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>

                <div class="image-items">
                    <img src="/images/portfolio-images-7.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-3.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-4.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
            </div>
            <div class="column">
                <div class="image-items">
                    <img src="/images/portfolio-images-5.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-7.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-1.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-3.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
            </div>
            <div class="column">
                <div class="image-items">
                    <img src="/images/portfolio-images-1.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-2.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-3.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-4.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
            </div>
            <div class="column">
                <div class="image-items">
                    <img src="/images/portfolio-images-9.jpg">
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-7.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-1.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-3.jpg">
                    <span>수원 스타벅스 40PY</span>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="request-btn-wrapper text-center">-->
    <!--<button class="request-btn">무료 방문 상담 신청</button>-->
    <!--</div>-->

</div>

<% include ../partials/foot.ejs %>