<% include ../partials/head.ejs %>

<script src="/scripts/pages/portfolio.js"></script>

<div class="section margin-vertical">
  <div id="portfolio_sort_tab" class="tab">
    <a href="#" class="tab-item active" data-value="newest">최신순</a>
    <a href="#" class="tab-item" data-value="popular">인기순</a>
    <a href="#" class="tab-item" data-value="price">가격순</a>
  </div>
</div>

<div class="section">
  <div class="article no-padding center">
    <div class="col-group no-margin">
        <div class="col-4 no-padding">
          <select name="portfolio_style" id="portfolio_style" class="selectric">
            <option value="">스타일 선택</option>
            <option value="모던">모던</option>
            <option value="쉐비시크">쉐비시크</option>
            <option value="스칸디나비아">스칸디나비아</option>
          </select>
        </div>
        <div class="col-4 no-padding">
          <select name="portfolio_size" id="portfolio_size" class="selectric">
            <option value="">평수 선택</option>
            <option value="lt20">20평대 미만</option>
            <option value="eq20">20평대</option>
            <option value="eq30">30평대</option>
            <option value="eq40">40평대</option>
            <option value="eq50">50평대</option>
            <option value="gte60">60평대 이상</option>
          </select>
        </div>
        <div class="col-4 no-padding">
          <select name="portfolio_price" id="portfolio_price" class="selectric">
            <option class="default" value="">비용 선택</option>
          </select>
        </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="article article-small">
    <div class="portfolio loader-section">
      <div class="loader-inner">
        <div class="loader">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
        </div>
        <div class="message">
          요청을 처리하고있습니다.<br />
          잠시만 기다려주세요.
        </div>
      </div>
    </div>
    <div class="pagination"></div>
  </div>
</div>

<% include ../partials/foot.ejs %>