<% include ../partials/head.ejs %>


<div class="contents profiles-member-detail">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>인테리어 팀</p>
            <p>그리다집에서 인테리어 비용 절약, 시간 절감, 품질 향상을 경험하세요.</p>
        </div>
    </div>

    <div class="profile-detail">
        <div class="profile-information clearing">
            <div class="profile-image">
                <img src="/images/profile-manager.png" />
            </div>

            <div class="profile-info">
                <p class="name">황경찬 디자이너</p>
                <p class="description">항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.
                    항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.
                    항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.
                    항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.항상 고객의 요구에 좀 더 다가갈 수 있도록 노력하고 있습니다.</p>
            </div>

            <div class="profile-score">
                <div class="score clearing">
                    <div>
                        <span class="count">254</span>
                        <span>시공건수</span>
                    </div>
                    <div>
                        <span class="count">98%</span>
                        <span>고객만족도</span>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <button class="default-btn">
                        무료방문상담 신청하기
                    </button>
                </div>
            </div>
        </div>
        <div class="portfolio-pictures clearing">
            <div class="row">
                <div class="image-items">
                    <img src="/images/portfolio-images-1.jpg" />
                </div>
                <div class="image-items">
                    <img src="/images/portfolio-images-1.jpg" />
                    <div class="hover">
                        <div class="background"></div>
                        <div class="center-pos text-center text">
                            <p>서울 영등포구 양평동5가 9-1</p>
                            <p>31평 | 4,000 만원</p>
                        </div>
                    </div>
                </div>
                <div class="image-items">

                </div>
            </div>
            <div class="row">
                <div class="image-items">

                </div>
                <div class="image-items">

                </div>
                <div class="image-items">

                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <button class="default-btn">
                <i class="fa fa-angle-down"></i>더보기
            </button>
        </div>

        <div class="back-button-wrapper">
            <button class="request-btn">
                구성원 목록으로 돌아가기
            </button>
        </div>
    </div>
</div>

<% include ../partials/foot.ejs %>