<% include ../partials/head.ejs %>

<script src="/scripts/pages/profile.js"></script>

<input type="hidden" id="profile_type" value="constructor">

<div class="section">
    <div class="cover" style="background-image: url('/images/temporary/bg-profile-constructor-cover.jpg');"></div>
    <h2>CONSTRUCTOR PROFILE</h2>
    <div class="section-header clearfix">
        <div id="profile_sort_tab" class="tab left pull-left">
            <a href="#" class="tab-item active" data-value="newest">최신순</a>
            <a href="#" class="tab-item" data-value="popular">인기순</a>
        </div>
    </div>
    <div class="profile-wrapper">
    </div>
</div>

<% include ../partials/foot.ejs %>