<% include ../partials/head.ejs %>

<div class="contents services">
    <div class="page-description">
        <div class="main-text center-pos">
            <p>서비스 소개</p>
        </div>
    </div>

    <div class="services-wrapper">
        <div class="main-introduce">
            <div class="contents">
                <div class="subject">
                    <p>커스텀 인테리어 솔루션 그리다집과 함께라면</p>
                    <p>당신의 공간은 행복의 기준이 됩니다.</p>
                </div>
                <p>그리다_집은 다양한 현장에서 직접 시공을 하며 축적한 경험과 노하우, 인테리어 시공데이터를 기반으로 정부 관급공사(B2G)부터 상업(B2B)및 주거(B2C)까지 고객과 업체 대상의 커스텀 인테리어(Custom Interior, 맞춤형 설계 인테리어)솔루션을 제공하고 있습니다.</p>
                <p>중개형 서비스를 추구하는 기존 플랫폼과는 달리, 10년 이상의 경험을 가진 전문가가 직접 방문해 단 한번의 상담만으로 고객의 기본 제안에 따른 원가 표준 견적 솔루션을 제공하며 편리성과 투명성을 더했습니다.</p>
                <p>또한, 업계 유일의 '인테리어 가전 큐레이팅 서비스'를 제공합니다.</p>
                <p>가전 제품에 대한 전문적인 지식을 가지고 공간설계 제안부터 맞춤 가전제품의 추천과 최저가 구매, 책임시공까지 원-스톱 서비스를 제공합니다.</p>
            </div>
        </div>
        <div class="services-introduce">
            <div class="services-nav">
                <a href="#service-1">인테리어 + 가전 큐레이팅</a>
                <a href="#service-2">시공 입찰</a>
                <a href="#service-3">5대 안전 패키지</a>
                <a href="#service-4">현장 점검 컨설팅</a>
            </div>
            <div class="services-list">
                <div id="service-1" class="service-box">
                    <p class="title">인테리어 + 가전 큐레이팅 서비스</p>
                    <p class="subtitle">인테리어, 아직도 비어있는 공간에 가전을 맞추시나요?</p>
                    <br>
                    <span>인테리어 따로,가전 따로는 이제 그만!인테리어와 가전은 함께 시공되어야 합니다.</span>
                    <br>
                    <span>공간 제안과 실측부터 가전 추천,최저가 구매,맞춤형 빌트인 인테리어 시공까지 이제는 한번에 해결하세요.</span>
                    <br>
                    <br>
                    <span>인테리어는 품격있게,공간은 효율적으로,가전도 이젠 맞춤으로 하세요.</span>
                    <br>
                    <span>생활이 편리해지고 행복해집니다.</span>
                    <br>
                    <br>
                    <span>대기업 가전제품 공식 유통사인 자사의 전문성과 인테리어 전문 시공 서비스 그리다집의 시공 품질을 함께 제공해 드립니다.</span>
                    <br>
                    <span>원스톱 인테리어 솔루션, 그리다집과 함께 하세요.</span>
                </div>
                <div id="service-2" class="service-box">
                    <p class="title">시공입찰 서비스</p>
                    <p class="subtitle">인테리어, 아직도 무료비교 견적만 받으세요?</p>
                    <br>
                    <span>고객도 업체도 모두 발품 팔지 않는 인테리어 서비스</span>
                    <br>
                    <span>10년 이상의 경험을 가진 전문가와의 단 한 번의 방문 상담이면 됩니다.</span>
                    <br>
                    <br>
                    <span>주거 상업 인테리어 시공 100호 이상의 현장 시공경험을 통해 축적된 빅데이터 기반의 원가 표준 견적 솔루션 서비스</span>
                    <br>
                    <span>투명하고 기준이 명확한 견적, 이제는 그리다집이 책임지겠습니다.</span>
                </div>
                <div id="service-3" class="service-box">
                    <p class="title">인테리어 5대 안전패키지 서비스</p>
                    <span>1) 안전 마크맨</span>
                    <br>
                    <span>시공 전후 관리까지 1:1 고객전담으로 관리해드립니다.</span>
                    <br>
                    <br>
                    <span>2) 안전 사전점검</span>
                    <br>
                    <span>130가지의 사전사후 체크리스트를 통한 문제점을 해결해드립니다.</span>
                    <br>
                    <br>
                    <span>3) 안전 기본설계</span>
                    <br>
                    <span>방문 견적 시 표준견적 솔루션을 통해 기초견적 리포트를 제공합니다.</span>
                    <br>
                    <br>
                    <span>4) 안전 시공보증</span>
                    <br>
                    <span>계약 및 하자이행보증증권을 통해 시공과정에서의 문제를 사전에 방지합니다.</span>
                    <br>
                    <br>
                    <span>5) 안전 1년 AS</span>
                    <br>
                    <span>본사 시공팀이 책임지고 AS 하자보수를 지원합니다.</span>
                </div>
                <div id="service-4" class="service-box">
                    <p class="title">사전-사후 현장점검 컨설팅</p>
                    <span>인테리어 시공 전부터 사후관리까지 170여가지의 현장 및 감리 현장점검 체크리스트를 제공하여</span>
                    <br>
                    <span>시공과정에서 발생되는 추가 견적예산 및 문제를 안전하게 관리해드립니다.</span>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/scripts/pages/cooperation-request.js"></script>
<% include ../partials/foot.ejs %>
