<% include ../partials/head.ejs %>

<script src="/scripts/pages/support.js"></script>

<div class="section bg-gray wrapped">
  <h2>고객센터</h2>
  <div class="support article">
    <div class="support-section">
      <h3>공지사항</h3>
      <div class="sub-title">그리다집의 새로운 소식들을 확인해보세요!</div>
      <div class="support-list support-notice"></div>
    </div>
    <div class="support-section">
      <h3>자주묻는질문</h3>
      <div class="sub-title">회원님들께서 그리다집서비스에 대해 자주 묻는 질문입니다.</div>
      <div class="support-list support-faq loading"></div>
    </div>
  </div>
</div>

<% include ../partials/foot.ejs %>