<% include ../partials/head.ejs %>


<div class="contents support">
  <div class="page-description">
    <div class="main-text center-pos">
      <p>고객문의</p>
      <p>그리다집은 여러분의 목소리를 기다립니다.</p>
    </div>
  </div>

  <div class="support-wrapper">
    <div class="info-wrapper">
      <div class="notice-view">
        <hr />
        <h2>공지사항</h2>
        <span>그리다집의 새로운 소식들을 확인해보세요!</span>
        <ul class="info-list-view">
          <li>
            <div class="list-header clearing">
              <h3>그리다집이 새로운 모습으로 바뀌었습니다!</h3>
              <button class="folding-btn"><i class="fa fa-angle-down"></i></button>
            </div>

            <p>
              안녕하세요. 그리다집입니다.
              이번에 그리다집이 새로운 모습으로 오픈했습니다.
              앞으로도 고객님께 더 세세한 부분까지 신경 써 드릴 수 있도록 노력하겠습니다.
              감사합니다.
            </p>
          </li>
        </ul>
      </div>
      <div class="faq-view">
        <hr />
        <h2>자주묻는질문</h2>
        <span>회원님들께서 그리다집 서비스에 대해 자주 묻는 질문입니다.</span>
        <ul class="info-list-view">
          <li class="fold">
            <div class="list-header clearing">
              <h3>결과물이 마음에 들지 않습니다. 어떻게 하나요?</h3>
              <button class="folding-btn"><i class="fa fa-angle-down"></i></button>
            </div>
            <p>
              단순 변심은 주문 취소의 사유가 될 수 없습니다.
              재판매가 가능한 유형의 상품이 아닌 제공 시 상풍성이 소멸되는 무형의 재능으로
              인테리어 매니저가 합의하지 않는 이상 결과물 불만족의 사유로 판매자 귀책을 들어
              환불 권고를 드릴 수가 없습니다.

              단 고객님의 정확한 요구사항과 전혀 다른 결과물이 전달되었을 경우에는
              주문 취소의 사유가 될 수 있으니
              서비스 진행 후 매니저의 원활한 서비스 진행을 위하여 추상적이 아닌 명확한 단어사용으로
              구매자의 목적을 정확히 표현 부탁드립니다.
              또한 인테리어 매니저와의 의사소통은 그리다집 메세지를 이용하시어 증빙이 될 수 있도록 부탁드립니다.
            </p>
          </li>
          <li>
            <div class="list-header clearing">
              <h3>결과물이 마음에 들지 않습니다. 어떻게 하나요?</h3>
              <button class="folding-btn"><i class="fa fa-angle-down"></i></button>
            </div>
            <p>
              단순 변심은 주문 취소의 사유가 될 수 없습니다.
              재판매가 가능한 유형의 상품이 아닌 제공 시 상풍성이 소멸되는 무형의 재능으로
              인테리어 매니저가 합의하지 않는 이상 결과물 불만족의 사유로 판매자 귀책을 들어
              환불 권고를 드릴 수가 없습니다.

              단 고객님의 정확한 요구사항과 전혀 다른 결과물이 전달되었을 경우에는
              주문 취소의 사유가 될 수 있으니
              서비스 진행 후 매니저의 원활한 서비스 진행을 위하여 추상적이 아닌 명확한 단어사용으로
              구매자의 목적을 정확히 표현 부탁드립니다.
              또한 인테리어 매니저와의 의사소통은 그리다집 메세지를 이용하시어 증빙이 될 수 있도록 부탁드립니다.
            </p>
          </li>
          <li class="fold">
            <div class="list-header clearing">
              <h3>결과물이 마음에 들지 않습니다. 어떻게 하나요?</h3>
              <button class="folding-btn"><i class="fa fa-angle-down"></i></button>
            </div>
            <p>
              단순 변심은 주문 취소의 사유가 될 수 없습니다.
              재판매가 가능한 유형의 상품이 아닌 제공 시 상풍성이 소멸되는 무형의 재능으로
              인테리어 매니저가 합의하지 않는 이상 결과물 불만족의 사유로 판매자 귀책을 들어
              환불 권고를 드릴 수가 없습니다.

              단 고객님의 정확한 요구사항과 전혀 다른 결과물이 전달되었을 경우에는
              주문 취소의 사유가 될 수 있으니
              서비스 진행 후 매니저의 원활한 서비스 진행을 위하여 추상적이 아닌 명확한 단어사용으로
              구매자의 목적을 정확히 표현 부탁드립니다.
              또한 인테리어 매니저와의 의사소통은 그리다집 메세지를 이용하시어 증빙이 될 수 있도록 부탁드립니다.
            </p>
          </li>
          <li class="fold">
            <div class="list-header clearing">
              <h3>결과물이 마음에 들지 않습니다. 어떻게 하나요?</h3>
              <button class="folding-btn"><i class="fa fa-angle-down"></i></button>
            </div>
            <p>
              단순 변심은 주문 취소의 사유가 될 수 없습니다.
              재판매가 가능한 유형의 상품이 아닌 제공 시 상풍성이 소멸되는 무형의 재능으로
              인테리어 매니저가 합의하지 않는 이상 결과물 불만족의 사유로 판매자 귀책을 들어
              환불 권고를 드릴 수가 없습니다.

              단 고객님의 정확한 요구사항과 전혀 다른 결과물이 전달되었을 경우에는
              주문 취소의 사유가 될 수 있으니
              서비스 진행 후 매니저의 원활한 서비스 진행을 위하여 추상적이 아닌 명확한 단어사용으로
              구매자의 목적을 정확히 표현 부탁드립니다.
              또한 인테리어 매니저와의 의사소통은 그리다집 메세지를 이용하시어 증빙이 될 수 있도록 부탁드립니다.
            </p>
          </li>
          <li class="fold">
            <div class="list-header clearing">
              <h3>결과물이 마음에 들지 않습니다. 어떻게 하나요?</h3>
              <button class="folding-btn"><i class="fa fa-angle-down"></i></button>
            </div>
            <p>
              단순 변심은 주문 취소의 사유가 될 수 없습니다.
              재판매가 가능한 유형의 상품이 아닌 제공 시 상풍성이 소멸되는 무형의 재능으로
              인테리어 매니저가 합의하지 않는 이상 결과물 불만족의 사유로 판매자 귀책을 들어
              환불 권고를 드릴 수가 없습니다.

              단 고객님의 정확한 요구사항과 전혀 다른 결과물이 전달되었을 경우에는
              주문 취소의 사유가 될 수 있으니
              서비스 진행 후 매니저의 원활한 서비스 진행을 위하여 추상적이 아닌 명확한 단어사용으로
              구매자의 목적을 정확히 표현 부탁드립니다.
              또한 인테리어 매니저와의 의사소통은 그리다집 메세지를 이용하시어 증빙이 될 수 있도록 부탁드립니다.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="contact-info">
      <h1>Contact Us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipipscing elit. Cres
        sollicitudin, tellus vitae condimentum egestas. libero dolor
      </p>
      <ul>
        <li>
          <img src="/images/address-icon.png" />
          <div class="contact-item">
            <h5>Address</h5>
            <p>서울특별시 강서구 양천로 551-17 한화비즈메트로 1차 1010호</p>
          </div>
        </li>
        <li>
          <img src="/images/email-icon.png" />
          <div class="contact-item">
            <h5>Email</h5>
            <p>info@gridazip.com</p>
          </div>
        </li>
        <li>
          <img src="/images/tel-icon.png" />
          <div class="contact-item">
            <h5>Tel.</h5>
            <p>0507-1312-2412</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="daum-map">

    </div>
  </div>
</div>

<% include ../partials/foot.ejs %>