<div class="modal modal-medium modal-request">
    <div class="background"></div>
    <div>
        <button class="close-btn" data-close-modal="modal-request">
            x
        </button>
        <h3>무료 방문상담 신청하기</h3>
        <section class="main-request">
            <div class="request-wrapper">
                <div class="request-form">
                    <div class="request-input-wrapper">
                        <div class="input-label-wrapper">
                            <label for="inputRequestName">이름<span class="red-star">*</span></label>
                            <input type="text" id="inputRequestName" placeholder="이름을 입력해주세요." />
                        </div>

                        <div class="input-label-wrapper">
                            <label for="inputRequestPhone">전화번호<span class="red-star">*</span></label>
                            <input type="text" id="inputRequestPhone" placeholder="전화번호를 입력해주세요."/>
                        </div>

                        <a href="#">
                            <button>본인인증 하기</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>