<div class="modal modal-medium modal-request hide">
    <div class="background"></div>
    <div class="center-pos">
        <button class="close-btn" data-close-modal="modal-request">
            x
        </button>
        <h3>무료 방문상담 신청하기</h3>
        <section class="main-request">
            <div class="request-wrapper clearing">
                <div class="request-form">
                    <form id="modalRequestForm">
                        <div class="request-input-wrapper info-input">
                            <div class="input-label-wrapper">
                                <label for="inputRequestName">이름<span class="red-star">*</span></label>
                                <input type="text" id="inputRequestName" placeholder="이름을 입력해주세요." name="user_name"/>
                            </div>

                            <div class="input-label-wrapper">
                                <label for="inputRequestPhone">전화번호<span class="red-star">*</span></label>
                                <input type="text" id="inputRequestPhone" placeholder="전화번호를 입력해주세요." name="user_phone"/>
                            </div>
                            <div class="input-label-wrapper agreement-get-user-info" >
                                <input type="checkbox" id="modalInputCheckbox" /><label class="checkbox-label" for="modalInputCheckbox">개인정보이용동의 약관에 동의합니다.</label>
                            </div>
                            <a href="#" id="modalAuthRequestBtn">
                                <button>본인인증 하기</button>
                            </a>
                        </div>
                        <div class="request-input-wrapper hide auth-input">
                            <div class="input-label-wrapper">
                                <div class="clearing">
                                    <label for="inputRequestName">인증번호 입력<span class="red-star">*</span></label>
                                    <span class="timer">3:00</span>
                                </div>
                                <input type="text" id="inputRequestAuthCode" placeholder="인증번호를 입력해주세요." name="auth_key" />
                            </div>

                            <a href="#" class="modal-request-btn" id="modalConfirmBtn">
                                <button>인증하기</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>