<div class="modal modal-large modal-term center-pos hide">
    <div class="background"></div>
    <div>
        <button class="close-btn" data-close-modal="modal-term">
            x
        </button>
        <div>
            <div class="tab clearing">
                <div class="inner">
                    <div class="tab-item">
                        <span>이용약관</span>
                    </div>
                    <div class="tab-item">
                        <span>개인정보취급방침</span>
                    </div>
                </div>
            </div>
        </div>
        <section class="terms">
            <p>
                개인정보 수집 및 이용동의<br />
                개인(기업)정보 제공 및 이용 동의서<br />
                주식회사 그리다집은 인테리어 사업자로 상담 및 방문견적신청과 관련하여 ｢개인정보보호법」제15조 제1항 제1호, 제17조 제1항 제1호, 제23조 제1호, 제24조 제1항 제1호 및「신용정보의 이용 및 보호에 관한 법률」제32조 제1항, 제33조, 제34조에 따라 아래와 같이 개인정보의 수집·이용 및 제3자 제공에 관하여 귀하의 동의를 얻고자 합니다. 그리다집 이용약관에 동의 및 준수하며 위 서비스를 이용하는 것에 동의합니다.<br />
                1. 개인정보의 수집 목적<br />
                &lt;주식회사 그리다집&gt; (http://www.gridazip.com’이하 ‘그리다집’) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.<br />
                <br />
                - 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 상담 및 방문견적 등 각종 서비스 제공을 위한 그리다집 운영자 및 협력 파트너(사)에 정보 제공, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등<br />
                <br />
                2. 개인정보의 수집 항목<br />
                &lt;주식회사 그리다집&gt; (http://www.gridazip.com’이하 ‘그리다집’) 은(는) 회원가입 및 견적상담, 및 공사 진행 시 다음의 항목을 수집합니다.<br />
                <br />
                필수항목: 아이디(이메일), 비밀번호, 이름, 닉네임, 전화번호(휴대전화번호 또는 자택전화번호)<br />
                <br />
                3. 개인정보의 처리 및 보유 기간<br />
                ① &lt;주식회사 그리다집&gt; (http://www.gridazip.com’이하 ‘그리다집’) 은(는) 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유․이용기간 또는 법령에 따른 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.<br />
                <br />
                ② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.<br />
                <br />
                - 계약 또는 청약철회 등에 관한 기록 : 5년<br />
                - 대금결제 및 재화등의 공급에 관한 기록 : 5년<br />
                - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br />
                <br />
                그리다집 이용약관에 준하여 위 서비스를 이용하는 것에 동의합니다<br />
            </p>
        </section>
    </div>
</div>