<% include ../../partials/admin/head.ejs %>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="/scripts/pages/admin/constructor.js"></script>

<input type="hidden" id="constructor_id" value="<%=cid%>">

<div class="management constructor no-margin">
    <form class="form form-constructor">
        <input type="hidden" id="file-upload-path" name="file_upload_path" value="profile/constructor">
        <h2>
            <p>시공자 등록</p>
            <div class="form-description">
                <span class="required">*</span>
                <span>항목은 필수 입력 항목입니다.</span>
            </div>
        </h2>
        <div class="form-inner">
            <div class="form-item">
                <div class="title">
                    <span class="required">*</span>
                    <span>이름</span>
                </div>
                <input type="text" name="constructor_name" id="constructor_name" placeholder="이름을 입력하세요">
            </div>
            <!-- @TODO 회사 등록 화면 작업 이후 -->
            <!--<div class="form-item">-->
                <!--<div class="title">-->
                    <!--<span class="required">*</span>-->
                    <!--<span>회사</span>-->
                <!--</div>-->
                <!--<select name="constructor_cppk">-->
                    <!--<option value="1">으아앙</option>-->
                <!--</select>-->
            <!--</div>-->
            <input type="hidden" value="1" name="constructor_cppk" />
            <div class="form-item">
                <div class="title">
                    <span class="required">*</span>
                    <span>시공자평가</span>
                </div>
                <div class="skill-form-group constructor-score" id="constructor_score">
                    <i class="fa fa-2x fa-star"></i><i class="fa fa-2x fa-star"></i><i class="fa fa-2x fa-star"></i><i class="fa fa-2x fa-star"></i><i class="fa fa-2x fa-star"></i>
                </div>
            </div>

            <div class="form-item">
                <div class="title">
                    <span class="required">*</span>
                    <span>테스트 여부(Y로 입력하실 경우 업로드는 되지만 사용자에게 보이지 않습니다.)</span>
                </div>
                <label for="cr_is_test"><input type="radio" id="cr_is_test" value="1" name="constructor_is_dev"/>Y</label>
                <label for="cr_is_not_test"><input type="radio" id="cr_is_not_test" value="0" name="constructor_is_dev"/>N</label>
            </div>

            <div class="divider"></div>
            <h2>
                <p>이미지 등록</p>
            </h2>
            <div class="form-item margin-bottom">
                <div class="title">
                    <span class="required">*</span>
                    <span>시공자 사진</span>
                </div>
                <div class="form-item">
                    <div class="col-group">
                        <div class="col-12"><input type="file" name="constructor_image" id="constructor_image" placeholder="Image"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <div class="button-group">
                <button class="complete">완료</button>
                <a href="/admin/constructor/list" class="button soft">뒤로가기</a>
            </div>
        </div>
    </form>
</div>

<% include ../../partials/admin/foot.ejs %>