<% include ../../partials/admin/head.ejs %>

<script src="/scripts/pages/admin/request-list.js"></script>

<div class="section">
    <h2>상담 신청 관리</h2>


    <div class="section">
        <div class="article center">
            <div class="col-group no-margin">
                <div class="col-6 no-padding">
                    <select name="request_is_valuable" id="request_is_valuable" class="selectric">
                        <option value="">유효여부선택</option>
                        <option value="0">신규요청</option>
                        <option value="1">실존하지 않는 고객</option>
                        <option value="3">실존하나 유효하지 않은 고객</option>
                        <option value="2">유효 고객</option>
                    </select>
                </div>
                <div class="col-6 no-padding">
                    <select name="request_is_contracted" id="request_is_contracted" class="selectric">
                        <option value="">방문상담여부</option>
                        <option value="0">서울권외</option>
                        <option value="1">실패</option>
                        <option value="2">완료</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="article" style="padding-top:0;">
        <table class="table table-click table-hover table-request">
            <colgroup>
                <col style="width: 100px;">
                <col style="width: 120px;">
                <col style="width: 120px;">
                <col style="width: 160px;">
                <col style="width: 120px;">
                <col style="width: 120px;">
                <col style="width:120px;">
                <col style="width:140px;">
                <col style="width:100px;">
            </colgroup>
            <thead>
            <tr>
                <th>이름</th>
                <th>평수</th>
                <th>예산</th>
                <th>전화번호</th>
                <th>방문상담일</th>
                <th>방문상담시각</th>
                <th>신청일자</th>
                <th>유효여부</th>
                <th>방문상담여부</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="8" class="loading"></td>
            </tr>
            </tbody>
        </table>

        <div class="pagination margin-top"></div>
    </div>
</div>

<% include ../../partials/admin/foot.ejs %>