@import 'normalize.less';
@import 'font.less';
@import 'prefixer.less';
@import 'fluidable.less';
@import 'variables.less';
@import 'layout.less';
@import 'components.less';
@import 'helpers.less';
@import 'style.less';
@import 'mediaquery.less';

.table {
    thead,
    tbody {
        tr {
            td, th {
                height: 80px;
            }
        }
    }
}


.form-constructor, .form-designer {
    .skill-form-group {
        height:3.4em;
        line-height:3.4em;

        i {
            vertical-align: middle;
            color: @color-disabled
        }
        i.active {
            color: @color-info
        }
    }

    .form-item {
        .btn-file {
            img {
                max-height:200px !important;
            }
        }
    }
}

.form {
    .form-item {
        input[type=radio] {
            display:inline-block;
            width:20px;
        }
    }
}

/* The switch - the box around the slider */
.table-request .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    /* Hide default HTML checkbox */
    input {
        display:none;
    }
}

/* The slider */
.table-request .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.table-request input {
    &:checked+.slider {
        background-color: #ffd820;

        &:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    &:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
}
/* Rounded sliders */
.table-request  .slider.round {
    border-radius: 34px;

    &:before {
        border-radius: 50%;
    }
}