#header {
  width:100%;
  height: @size-header-height;
  font-size: 1.188em;
  text-align: center;
  background-color:transparent;
  position:fixed;
  top:0;
  clear:both;
  z-index:10;

  &.scrolled {
    box-shadow: 0px 1px 6px 0 rgba(20, 20, 21, 0.35);
    background-color:@color-white;

    .logo img {
      width:138px;
      height:38px;
    }

    .request-button {
      border-color: #818b95 !important;
    }

    a {
      color: #818b95 !important;
    }
  }

  >div {
    position: relative;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    height: 50px;
  }

  .header-inner {
    display: inline-block;
    max-width: @screen-size-width;
    width:100%;

    .logo {
      display:inline-block;
      width:138px;
      object-fit: contain;
      float:left;
      //margin-top:31px;
    }

    .menu-wrapper {
      line-height: 40px;
      float:right;

      .menu-list {
        clear:both;

        .menu-item {
          float:left;
          padding:0 22.5px;

          a {
            color: @color-white;
            text-decoration: none;

            &.request-button {
              border: 1px solid @color-white;
              padding: 15px;
              border-radius: 25px;

              &:hover {
                background: linear-gradient(315deg, @color-main 0%, @color-main 51%, @color-second 100%);
                border: 0;
                padding:16px;
              }

              &:active {
                background: linear-gradient(315deg, #818CE3 0%, #818CE3 100%);
                border: 0;
                padding:16px;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  width:100%;

  background-color:#f6f8f9;

  .footer-stripe {
    height: 3px;
    background: linear-gradient(315deg, #a6b0fe, #80bffe);
  }

  .footer-wrapper {
    max-width:@screen-size-width;
    width:100%;
    position:relative;
    margin: 62px auto 0 auto;

    .footer-title {
      font-size:16px;
      color:#758594;
      margin-bottom:23px;
      font-weight: bold;
    }

    > div {
      float:left;
      width:33%;

      &.logo-info {
        > * {
          display:block;
        }

        & span {
          font-size:15px;
          font-family: NanumSquareOTFB;
          color:#758594;
          line-height:1.2;
          margin-bottom: 24px;
          font-weight:bold;
        }

        & img {

        }
      }

      &.contact-info {
        > div {
          color:#758594;
          margin-bottom:17px;
          > div {
            display:inline-block;
            vertical-align: top;

            i {
              margin-right: 22px;
            }
          }
        }
      }

      &.social-info {
        ul {
          list-style: none;
          li {
            float:left;
            margin-right: 12px;

            &:last-child {
              margin-right: 0px;
            }

            &.social-icon {
              width: 38px;
              height: 38px;

              &.facebook-icon {
                background: url('/images/facebook.png') center center no-repeat;

                &:hover {
                  background: url('/images/facebook_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/facebook_c.png') center center no-repeat;
                }
              }

              &.instagram-icon {
                background: url('/images/instagram.png') center center no-repeat;

                &:hover {
                  background: url('/images/instagram_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/instagram_c.png') center center no-repeat;
                }
              }

              &.kakao-icon {
                background: url('/images/kakao.png') center center no-repeat;

                &:hover {
                  background: url('/images/kakao_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/kakao_c.png') center center no-repeat;
                }
              }

              &.kakaostory-icon {
                background: url('/images/kakao_story.png') center center no-repeat;

                &:hover {
                  background: url('/images/kakao_story_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/kakao_story_c.png') center center no-repeat;
                }
              }

              &.naver-icon {
                background: url('/images/naver.png') center center no-repeat;

                &:hover {
                  background: url('/images/naver_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/naver_c.png') center center no-repeat;
                }
              }

            }
          }
        }
      }
    }
  }

  .footer-provision {
    text-align: center;
    margin-top:44px;
    font-size:14px;
    color:#758594;
    max-width:@screen-size-width;
    width:100%;
    padding-bottom: 17px;
    border-bottom:1px solid rgba(75, 85, 94, 0.2);
    margin-left: auto;
    margin-right: auto;

    > span {
      padding: 0 48px;
      &:nth-child(2) {
        border-right: 1px solid #758594;
        border-left: 1px solid #758594;
      }
    }
  }

  .footer-compay-info {
    max-width:@screen-size-width;
    width:100%;
    color: rgba(117,113,148, 0.6);
    text-align: center;
    margin: 15px auto 0 auto;
    padding-bottom: 15px;
    font-size:12px;
  }
}

.background-word {
  height:130px;
  font-family: SourceSansPro;
  font-size: @size-font-180;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: @color-grey;
  position:relative;
  margin: 0 auto;
  display: block;
  line-height:130px;
}

.request-btn {
  width:230px;
  height:56px;
  background: linear-gradient(315deg, @color-main 0%, @color-main 51%, @color-second 100%);
  font-size: 18px;
  line-height: 2.89;
  font-family: NanumSquareOTFB;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
  border-radius: 25px;
  transition:1s;
  background-size: 200%;
  border: 0;
  cursor: pointer;

  &.large {
    width:310px;
  }

  &:hover {
    background-position: right center;
  }

  &:active{
    background: linear-gradient(315deg, #818CE3 0%, #818CE3 100%);
  }
}

.tab {
  text-align: center;
  clear: both;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin: 10px;

  > .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #e8ecef;

    .tab-item {
      margin: 0 auto;
      display: inline-block;
      position: relative;
      padding: 53px 30px;
      color:#818b95;
      font-size:@size-font-16;
      font-weight:bold;
      line-height:1.2;
      letter-spacing: 1.6px;
      cursor: pointer;

      &.active {
        > span {
          border-bottom: 2px solid #a6b4f9;
          color: #2a2d32;
          font-weight: bold;
        }
      }

      &:hover {
        > span {
          border-bottom: 2px solid #a6b4f9;
          color: #2a2d32;
          font-weight: bold;
        }
      }

      > span {
        padding: 53px 22.5px;
      }
    }
  }
}

.hover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  .background {
    height: 100%;
    background-color: #14171d;
    opacity: 0.7;
  }

  .text {
    color: white;

    > p {
      &:first-child {
        font-size:@size-font-18;
      }

      &:last-child {
        font-size:@size-font-12;
        letter-spacing: 1.2px;
      }
    }
  }
}

.page-description {
  height:700px;
  position:relative;
  background: url(/images/header_01.png) 0 0 no-repeat;
  color: @color-white;
  p {

    &:first-child {
      font-size: @size-font-80;
      margin-bottom:@size-font-36;
      line-height: 80px;
    }

    &:last-child {
      font-size: @size-font-22;
      font-family: 'NanumSquareOTFR';
      font-weight: lighter;
      letter-spacing: 0.5px;
    }
  }
}


.default-btn {
  width:230px;
  height:56px;
  background: linear-gradient(315deg, @color-main 0%, @color-main 51%, @color-second 100%);
  font-size: 18px;
  line-height: 2.89;
  font-family: NanumSquareOTFB;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
}

.owl-carousel .owl-nav-custom {
  width: 100%;
  position: absolute;
  top: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  clear: both;

  div {
    color: #fff;
    z-index: 5;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    text-align: center;

    &:hover {
      background-color: @color-button-hover;
    }

    &:active {
      background-color: @color-button-active;
    }

    &.owl-prev {
      //left: 10px;
      font-size: @size-font-22;
      float: left;

      i {
        margin-top: 12px;
      }
    }

    &.owl-next {
      //right:10px;
      font-size: @size-font-22;
      float: right;

      i {
        margin-top: 12px;
      }
    }
  }
}

.owl-dots {
  clear:both;

  .owl-dot {
    width:26px;
    height:26px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
    background:url("/images/paginationdot.png") center center no-repeat;

    &.active {
      background: url("/images/paginationdot_active.png") center center no-repeat;
    }
  }
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;

  .background {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
  }

  .close-btn {
    background: none;
    border: none;
    color: #c6c6c5;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 17px 0 0;
    font-size: 15px;
  }

  &.modal-large {
    > div:not(.background) {
      width: 769px;
      height: 845px;
      padding: 30px;
    }
  }

  &.modal-medium {
    > div:not(.background) {
      width: 570px;
      height: 553px;
      padding: 73px 140px;
    }
  }

  &.modal-small {
    > div:not(.background) {
      width: 570px;
      height: 417px;
      border-radius: 7px;
      padding: 40px 118px 50px;
    }
  }

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0px 30px 70px 0 rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }

  .success-contents {
    position: relative;
    text-align: center;

    .success-icon {
      display: inline-block;
      border: solid 2px #a6b4f9;
      border-radius: 50%;
      width: 112px;
      height: 112px;
      text-align: center;
      vertical-align: middle;
      line-height: 112px;
      > img {
        width: 42px;
        height: 32px;
      }
    }

    .success-title {
      position: relative;
      margin: 18px 0;

      h3 {
        position: absolute;
        z-index: 1;
        font-family: NanumSquareOTFEB;
        font-size: 23px;
        color: #2b2b2b;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
      }

      .background-word {
        font-size: 69px;
        color: #f6f6f6;
        line-height:0.9;
        height:inherit;
        font-family: Montserrat;
        font-weight: 900;
      }
    }

    p {
      font-family: NanumSquareOTFB;
      font-size: 19px;
      text-align: center;
      color: #202020;
      font-weight: 500;
      margin-bottom: 53px;
    }
  }


  &.modal-portfolio {
    .slider-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .image-items {
        img {
          height: 520px;
        }
      }
    }
  }

  &.modal-request {
    h3 {
      font-size:30px;
    }

    .request-wrapper {

      padding-top: 69px;

      .input-label-wrapper {
        &:nth-child(1) {
          margin-bottom: 50px
        }
      }
      a {
        display: block;
        text-align: center;
        margin-top: 20px;
      }
    }
  }

  &.modal-term {
    section.terms {
      height: 90%;
      overflow: auto;
    }

    .tab-item {
      margin: 0 40px 0 40px;
      padding: 0 0 30px 0;
      //border-bottom: 1px solid #a6b4f9;

      span {
        padding: 0 0 30px 0;
      }
    }
  }
}