#header {
  width:100%;
  height: @size-header-height;
  font-size: 18px;
  text-align: center;
  background-color:transparent;
  position:fixed;
  top:0;
  clear:both;
  z-index:10;

  &.scrolled {
    box-shadow: 0px 1px 6px 0 rgba(20, 20, 21, 0.35);
    background-color:@color-white;

    .logo img {
      width:138px;
      height:38px;
    }

    .request-button {
      border-color: #818b95 !important;
    }

    a {
      color: #818b95 !important;
    }
  }

  .header-inner {
    display: inline-block;
    width:@screen-size-width;

    .logo {
      display:inline-block;
      width:138px;
      object-fit: contain;
      float:left;
      margin-top:31px;
    }

    .menu-wrapper {
      line-height:100px;

      float:right;

      .menu-list {
        clear:both;

        .menu-item {
          float:left;
          padding:0 22.5px;

          a {
            color: @color-white;
            text-decoration: none;

            &.request-button {
              border: 1px solid @color-white;
              padding: 15px;
              border-radius: 25px;

              &:hover {
                background: linear-gradient(315deg, @color-main 0%, @color-main 51%, @color-second 100%);
                border: 0;
                padding:16px;
              }

              &:active {
                background: linear-gradient(315deg, #818CE3 0%, #818CE3 100%);
                border: 0;
                padding:16px;
              }
            }
          }
        }
      }
    }
  }
}

.main section {
  margin-bottom:86px;
}

section.main-visual-slider {
  height:950px;

  .visual-background {
    width:100%;
    height:100%;
    display:inline-block;

  }

  .image-items {
    height:950px;
    position:relative;

    &.main-bg-01 {
      background:url('/images/header_01.png') 0 0 no-repeat;
    }
    &.main-bg-02 {
      background:url('/images/header_02.png') 0 0 no-repeat;
    }
    &.main-bg-03 {
      background:url('/images/header_03.png') 0 0 no-repeat;
    }
  }

  .owl-carousel .owl-nav-custom {

    width:@screen-size-width;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    clear:both;

    div {
      color: #fff;
      z-index: 5;
      width:50px;
      height:50px;
      background-color:rgba(255,255,255,0.3);
      border-radius: 25px;
      text-align: center;

      &:hover {
        background-color: #818CE3;
      }

      &:active {
        background-color: #6873CD;
      }

      &.owl-prev {
        //left: 10px;
        font-size:@size-font-22;
        float:left;

        i {
          margin-top: 12px;
        }
      }

      &.owl-next {
        //right:10px;
        font-size:@size-font-22;
        float:right;

        i {
          margin-top: 12px;
        }
      }
    }
  }

  .main-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    p:first-child {
      color:@color-white;
      font-size:80px;
      padding-bottom:51px;
    }

    p:last-child {
      color:@color-white;
      font-size:22px;
    }
  }

  .request-btn-container {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    z-index:2;

    .request-btn {
      margin-bottom:80px;
    }

    .owl-dots {
      clear:both;

      .owl-dot {
        width:26px;
        height:26px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        display:inline-block;
        background:url("/images/paginationdot.png") center center no-repeat;

        &.active {
          background: url("/images/paginationdot_active.png") center center no-repeat;
        }
      }
    }
  }
}
section.main-portfolio {
  .slider-wrapper {
    .owl-item {
      > .image-items {
        position: relative;

        img {
          height:520px;
        }
      }
        //&::after {
        //  content: "";
        //  position: absolute;
        //  width:300%;
        //  height:100%;
        //  left:-100%;
        //  background: rgba(0,0,0,0.65);
        //  z-index:1;
        //  top: 0;
        //}
    }

    .owl-nav-custom {
      position: absolute;
      top: 50%;
      left: 25%;
      z-index: 10;
      width: 50%;
      clear:both;

      > div {
        background-color: #A7B5F7;
        border-radius: 25px;
        text-align: center;
        width:50px;
        height:50px;
        color:@color-white;

        &:hover {
          background-color: #818CE3;
        }

        &:active {
          background-color: #6873CD;
        }

        &.owl-prev {
          //left: 10px;
          font-size:@size-font-22;
          float:left;
          position:relative;
          right:15px;
          i {
            margin-top: 12px;
          }
        }

        &.owl-next {
          //right:10px;
          font-size: @size-font-22;
          float: right;
          position:relative;
          left:15px;
          i {
            margin-top: 12px;
          }
        }
      }
    }
  }
}

section.main-features {
  margin-bottom: 0;
  .background-word {
    position:absolute;
    z-index:0;
    left: 37%;
    font-family: Montserrat;
  }

  .feature-info {
    &:after {content:""; display:block; clear:both;}
    height:644px;

    >div {
      float:left;
      width:50%;
      height:100%;
    }
  }

  .feature-images {
    background: #f6f8f9;
    text-align: right;
    z-index: 2;
    position: relative;
    padding-right: 115px;

    &.right-align {
      padding-left: 115px;
      padding-right: 0;
      text-align: left;
    }
  }

  .feature-text-info {
    padding-left: 20px;
    padding-top: 68px;

    &.left-align {
      text-align: right;
      padding-right: 20px;
      padding-left: 0;
    }

    .feature-description-wrapper {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);

      .feature-description {
        margin-bottom: 141px;

        .feature-description-header {
          font-family: NanumSquareOTFB;
          font-size: 40px;
          color: #23272c;
          margin-bottom:42px;
        }

        .feature-description-body {
          font-family: NanumSquareOTFR;
          font-size: 18px;
          line-height: 1.67;
          color: #818b95;
        }
      }
    }
  }
}

section.main-customer-review {
  background:url('/images/review-background.png') 0 0 no-repeat;
  position: relative;
  z-index:0;

  &::after {
    content: "";
    background-image: linear-gradient(315deg, #a6b0fe, #80bffe);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  .review-wrapper {
    position:relative;
    z-index:2;
    text-align: center;

    >p {
      padding: 52px 0;
      font-size: 30px;
      font-family: NanumSquareOTFB;
      color: @color-white;
      line-height: 1;
    }

    .review-slider {
      position:relative;

      .review {
        width: 570px;
        height: 184px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0px 21px 21px 0 rgba(20, 20, 21, 0.35);
        margin: 0 auto 60px auto;
        padding: 30px 20px 20px 20px;
        line-height: 1.76;
        color: #54657e;
        font-size: 17px;

        &:after {
          background: url("/images/review_bottom_back.png") 0 0;
          content: " ";
          position: absolute;
          display: inline-block;
          width: 22px;
          height: 10px;
          bottom: -10px;
          z-index: 2;
        }

        >p {
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }

      .review-customer-info {
        padding-bottom:45px;
        font-size:16px;
        color:#ffffff;

        .reviewer-place {
          font-size: 0.85rem;
        }
      }
    }
  }
}

section.main-request {
  width:1170px;
  position: relative;
  margin: 0 auto;

  .request-wrapper {

    >p {
      font-size: 40px;
      font-family: NanumSquareOTFB;
      color: #000000;
      text-align: center;
      line-height: 1.2;
      margin-bottom:141px;
    }

    .request-form {
      float:left;
      margin-right: 60px;

      .request-input-wrapper {
        margin-bottom:50px;

        .input-label-wrapper {
          display:inline-block;

          margin-right:30px;

          label {
            font-size:16px;
            color:#a4a3a3;
            font-family: NanumSquareOTFB;

            >.red-star {
              color:#ff4e00;
            }
          }

          input {
            width:270px;
            height:56px;
            border:solid 1px #dddddd;
            padding:19px 0 19px 23px;
            font-size:18px;
            font-family: NanumSquareOTFR;
            border-radius: 3px;
            font-weight: lighter;
            line-height: 1.44;

            &::placeholder {
              color:#dddddd;
            }
          }


          >* {
            display:block;
          }
        }

        .input-label-wrapper {
          .clearing {
            clear:both;

            label {
              float:left;
            }
            span.timer {
              float:right;
              padding-left:25px;
              background: url(/images/clock_icon.png) left center no-repeat;
              color:@color-button-grey;
            }
          }
        }

        button {
          width:140px;
          height:56px;
          color:@color-white;
          background-color:@color-button-grey;
          border-radius: 25px;
          font-size:18px;
          line-height:2.89;

          &:hover {
            background-color: #818CE3;
          }

          &:active {
            background-color: #6873CD;
          }
        }
      }
    }

    .info-download-wrapper {
      float:left;

      .logo-description {
        font-size:15px;
        font-family: NanumSquareOTFB;
        color:#758594;
        line-height:1.2;
        margin-bottom: 12px;
      }

      img {
        width:185px;
        height:51px;
        margin-bottom:41px;
        display:block;
      }

      p {
        font-family: NanumSquareOTFR;
        font-size:19px;
        line-height: 1.42;
        color: #758594;
        margin-bottom:32px;
        font-weight: lighter;
      }

      span.info-download {
        font-family: NanumSquareOTFR;
        font-size:16px;
        color:#4994e2;
        font-weight: lighter;

        >i {
          margin-left:6px;
        }

        &:hover {
          color: #848CE1;
        }

        &:active {
          color: #6972CD;
        }
      }
    }
  }
}

footer {
  width:100%;
  height:311px;

  .footer-stripe {
    height: 3px;
    background: linear-gradient(315deg, #a6b0fe, #80bffe);
  }

  .footer-wrapper {
    width:1170px;
    position:relative;
    margin: 62px auto 0 auto;

    .footer-title {
      font-size:16px;
      color:#758594;
      margin-bottom:23px;
      font-weight: bold;
    }

    > div {
      float:left;
      width:33%;

      &.logo-info {
        > * {
          display:block;
        }

        & span {
          font-size:15px;
          font-family: NanumSquareOTFB;
          color:#758594;
          line-height:1.2;
          margin-bottom: 24px;
          font-weight:bold;
        }

        & img {

        }
      }

      &.contact-info {
        > div {
          color:#758594;
          margin-bottom:17px;
          > div {
            display:inline-block;
            vertical-align: top;

            i {
              margin-right: 22px;
            }
          }
        }
      }

      &.social-info {
        ul {
          list-style: none;
          li {
            float:left;
            margin-right: 12px;

            &:last-child {
              margin-right: 0px;
            }

            &.social-icon {
              width: 38px;
              height: 38px;

              &.facebook-icon {
                background: url('/images/facebook.png') center center no-repeat;

                &:hover {
                  background: url('/images/facebook_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/facebook_c.png') center center no-repeat;
                }
              }

              &.instagram-icon {
                background: url('/images/instagram.png') center center no-repeat;

                &:hover {
                  background: url('/images/instagram_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/instagram_c.png') center center no-repeat;
                }
              }

              &.kakao-icon {
                background: url('/images/kakao.png') center center no-repeat;

                &:hover {
                  background: url('/images/kakao_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/kakao_c.png') center center no-repeat;
                }
              }

              &.kakaostory-icon {
                background: url('/images/kakao_story.png') center center no-repeat;

                &:hover {
                  background: url('/images/kakao_story_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/kakao_story_c.png') center center no-repeat;
                }
              }

              &.naver-icon {
                background: url('/images/naver.png') center center no-repeat;

                &:hover {
                  background: url('/images/naver_h.png') center center no-repeat;
                }
                &:active {
                  background: url('/images/naver_c.png') center center no-repeat;
                }
              }

            }
          }
        }
      }
    }
  }

  .footer-provision {
    text-align: center;
    margin-top:44px;
    font-size:14px;
    color:#758594;
    width:1170px;
    padding-bottom: 17px;
    border-bottom:1px solid rgba(75, 85, 94, 0.2);
    margin-left: auto;
    margin-right: auto;

    > span {
      padding: 0 48px;
      &:nth-child(2) {
        border-right: 1px solid #758594;
        border-left: 1px solid #758594;
      }
    }
  }

  .footer-compay-info {
    width:1170px;
    color: rgba(117,113,148, 0.6);
    text-align: center;
    margin: 15px auto;
    font-size:12px;
  }
}

.background-word {
  height:130px;
  font-family: SourceSansPro;
  font-size: 180px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: @color-grey;
  position:relative;
  margin: 0 auto;
  display: block;
  line-height:130px;
}

.request-btn {
  width:230px;
  height:56px;
  background: linear-gradient(315deg, @color-main 0%, @color-main 51%, @color-second 100%);
  font-size: 18px;
  line-height: 2.89;
  font-family: NanumSquareOTFB;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
  border-radius: 25px;
  transition:1s;
  background-size: 200%;
  border: 0;

  &.large {
    width:310px;
  }

  &:hover {
    background-position: right center;
  }

  &:active{
    background: linear-gradient(315deg, #818CE3 0%, #818CE3 100%);
  }
}