@color-main: #9DAdFF;
@color-second: #80bffe;
@color-background-default: #ffffff;
@color-dark-grey: #cbcbcb;
@color-grey: #f6f8f9;
@color-font-grey: #c8c9ca;
@color-font-black: #2a2d32;
@color-font-dark-grey: #757576;
@color-font-footer-grey: #d8dde1;
@color-font-footer-dark-grey: #758594;
@color-blue: #80bffe;
@color-white: #ffffff;
@color-button-grey: #a4a3a3;

// SIZE
@screen-size-width: 1170px;

// Default margin, padding
@size-margin-default: 30px;
@size-padding-default: 30px;

// 2x, /2 padding, margin
@size-margin-small: ceil(@size-margin-default / 2);
@size-margin-extra-small: ceil(@size-margin-small / 2);
@size-margin-large: ceil(@size-margin-default * 2);
@size-margin-extra-large: ceil(@size-margin-large * 2);

@size-padding-small: ceil(@size-padding-default / 2);
@size-padding-extra-small: ceil(@size-padding-small / 2);
@size-padding-large: ceil(@size-padding-default * 2);
@size-padding-extra-large: ceil(@size-padding-large * 2);

// Font size
@size-font-default: 14px;
@size-font-large: ceil(@size-font-default * 2);
@size-font-small: ceil(@size-font-default / 2);

@size-font-22: 22px;

@size-header-height:100px;